In [15]:
import pandas as pd
import numpy as np

### 데이터 출처
    - https://data.seoul.go.kr/dataList/201/S/2/datasetView.do

In [17]:
data1=pd.read_csv("C:\\Users\\owner\\team project\\초등학교_20230417163349.csv")

In [18]:
data1

    자치구별(1)  자치구별(2)     2018     2019     2020     2021     2022
0   자치구별(1)  자치구별(2)  학교수 (개)  학교수 (개)  학교수 (개)  학교수 (개)  학교수 (개)
1        합계       소계      603      607      607      607      609
2        합계      종로구       13       13       13       13       13
3        합계       중구       12       12       12       12       12
4        합계      용산구       15       15       15       15       15
5        합계      성동구       21       21       21       21       21
6        합계      광진구       22       22       22       22       22
7        합계     동대문구       21       21       21       21       21
8        합계      중랑구       23       23       23       23       24
9        합계      성북구       29       29       29       29       29
10       합계      강북구       14       14       14       14       14
11       합계      도봉구       23       23       23       23       23
12       합계      노원구       42       42       42       42       42
13       합계      은평구       30       31       31       30       30
14       합계     서대문구       19       19       19       19       19
15       합계      마포구       22       22       22       22       22
16       합계      양천구       30       30       30       30       30
17       합계      강서구       36       36       35       35       35
18       합계      구로구       24       26       26       26       26
19       합계      금천구       18       18       18       18       18
20       합계     영등포구       23       23       23       23       23
21       합계      동작구       21       21       21       21       21
22       합계      관악구       22       22       22       22       22
23       합계      서초구       24       24       24       24       24
24       합계      강남구       33       33       33       33       33
25       합계      송파구       39       40       40       40       41
26       합계      강동구       27       27       28       29       29

In [19]:
# 필요없는 컬럼제거
del data1["자치구별(1)"]

In [20]:
data1

    자치구별(2)     2018     2019     2020     2021     2022
0   자치구별(2)  학교수 (개)  학교수 (개)  학교수 (개)  학교수 (개)  학교수 (개)
1        소계      603      607      607      607      609
2       종로구       13       13       13       13       13
3        중구       12       12       12       12       12
4       용산구       15       15       15       15       15
5       성동구       21       21       21       21       21
6       광진구       22       22       22       22       22
7      동대문구       21       21       21       21       21
8       중랑구       23       23       23       23       24
9       성북구       29       29       29       29       29
10      강북구       14       14       14       14       14
11      도봉구       23       23       23       23       23
12      노원구       42       42       42       42       42
13      은평구       30       31       31       30       30
14     서대문구       19       19       19       19       19
15      마포구       22       22       22       22       22
16      양천구       30       30       30       30       30
17      강서구       36       36       35       35       35
18      구로구       24       26       26       26       26
19      금천구       18       18       18       18       18
20     영등포구       23       23       23       23       23
21      동작구       21       21       21       21       21
22      관악구       22       22       22       22       22
23      서초구       24       24       24       24       24
24      강남구       33       33       33       33       33
25      송파구       39       40       40       40       41
26      강동구       27       27       28       29       29

In [21]:
# 컬럼명 재지정
data1.columns=["자치구별","2018학교수", "2019학교수", "2020학교수", "2021학교수", "2022학교수"]

In [24]:
# 자치구별 컬럼 인덱스 지정
data1.set_index("자치구별",inplace=True)

In [30]:
# 필요없는 정보 제거(자치구별(2),소계)
data1.drop("자치구별(2)",inplace=True)
data1.drop("소계",inplace=True)

In [31]:
data1

     2018학교수 2019학교수 2020학교수 2021학교수 2022학교수
자치구별
종로구       13      13      13      13      13
중구        12      12      12      12      12
용산구       15      15      15      15      15
성동구       21      21      21      21      21
광진구       22      22      22      22      22
동대문구      21      21      21      21      21
중랑구       23      23      23      23      24
성북구       29      29      29      29      29
강북구       14      14      14      14      14
도봉구       23      23      23      23      23
노원구       42      42      42      42      42
은평구       30      31      31      30      30
서대문구      19      19      19      19      19
마포구       22      22      22      22      22
양천구       30      30      30      30      30
강서구       36      36      35      35      35
구로구       24      26      26      26      26
금천구       18      18      18      18      18
영등포구      23      23      23      23      23
동작구       21      21      21      21      21
관악구       22      22      22      22      22
서초구       24      24      24      24      24
강남구       33      33      33      33      33
송파구       39      40      40      40      41
강동구       27      27      28      29      29

In [40]:
# 데이터타입 정수형으로 변환
data1=data1.astype(int)

In [41]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 종로구 to 강동구
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   2018학교수  25 non-null     int32
 1   2019학교수  25 non-null     int32
 2   2020학교수  25 non-null     int32
 3   2021학교수  25 non-null     int32
 4   2022학교수  25 non-null     int32
dtypes: int32(5)
memory usage: 700.0+ bytes

In [42]:
data1.to_csv("C:\\Users\\owner\\team project\\전처리 완\\ele_school.csv")