In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

 
import matplotlib.font_manager as fm                                  # 한글을 불러올 수 있게 하는 코드
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)
 
import matplotlib as mlp                                              #  - 를 읽어 올 수 있게 하는 코드
mlp.rcParams["axes.unicode_minus"] = False

In [2]:
import xml.etree.ElementTree as et
import urllib.request as req
import requests
import urllib.request as req
from urllib.error import HTTPError, URLError
import bs4
from bs4 import BeautifulSoup 
from urllib.request import urlopen
from bs4 import BeautifulSoup
import time
from tqdm import tqdm_notebook
import folium
import googlemaps
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from glob import glob

In [3]:
park = pd.read_csv("C:\\Users\\owner\\Desktop\\데이터 분석 중간 프로젝트\\전처리\\park.csv",encoding="EUC-KR")

In [4]:
park_1 = park[["공원명","지역","X좌표(WGS84)","Y좌표(WGS84)"]]

In [5]:
park_1

                 공원명   지역  X좌표(WGS84)  Y좌표(WGS84)
0           남산도시자연공원   중구  126.990377   37.550140
1             길동생태공원  강동구  127.154779   37.540394
2              서울대공원  과천시  127.019846   37.426449
3                서울숲  성동구  127.041798   37.543072
4              월드컵공원  마포구  126.878907   37.571805
..               ...  ...         ...         ...
127  용마도시자연공원(사가정공원)  중랑구  127.095997   37.579762
128           문화비축기지  마포구  126.893246   37.571718
129            경춘선숲길  NaN  127.076482   37.627077
130             율현공원  강남구  127.115594   37.472332
131          서울로7017   중구         NaN         NaN

[132 rows x 4 columns]

In [6]:
# 결측치의 위치 찾기
null = park_1.isnull()
null_index= null[null == True].stack().index.tolist()

print(null_index)

[(129, '지역'), (131, 'X좌표(WGS84)'), (131, 'Y좌표(WGS84)')]

In [7]:
park_1.loc[[129]] # 공원명 인덱싱

       공원명   지역  X좌표(WGS84)  Y좌표(WGS84)
129  경춘선숲길  NaN  127.076482   37.627077

In [8]:
# 경춘선숲길 지역구 알아보기
url = "http://dapi.kakao.com/v2/local/search/keyword.json?query=경춘선숲길"
head = {"Authorization":"KakaoAK 50164c6bb51aaadf098036960873feca"}
requests.get(url,headers=head) # 웹서버에 접속하기 위한 함수
requests.get(url,headers=head).text # .text를 통해 서버에서 받아온 데이터 확인
requests.get(url,headers=head).json() # json 형태로 볼수있음

{'documents': [{'address_name': '서울 노원구 공릉동 320-2',
   'category_group_code': 'AT4',
   'category_group_name': '관광명소',
   'category_name': '여행 > 관광,명소 > 도보여행',
   'distance': '',
   'id': '1003027186',
   'phone': '',
   'place_name': '경춘선숲길',
   'place_url': 'http://place.map.kakao.com/1003027186',
   'road_address_name': '',
   'x': '127.078706040469',
   'y': '37.620691807133'},
  {'address_name': '서울 노원구 하계동 107-2',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '여행 > 관광,명소 > 관광안내소',
   'distance': '',
   'id': '1492732101',
   'phone': '02-3783-5977',
   'place_name': '경춘선숲길 방문자센터',
   'place_url': 'http://place.map.kakao.com/1492732101',
   'road_address_name': '',
   'x': '127.06983109117179',
   'y': '37.63150923279862'},
  {'address_name': '서울 노원구 공릉동 29-29',
   'category_group_code': 'CT1',
   'category_group_name': '문화시설',
   'category_name': '문화,예술 > 문화시설 > 미술관',
   'distance': '',
   'id': '1574873219',
   'phone': '',
   'place_name': '경춘선숲길갤러리',
   'place_url': 'http://place.map.kakao.com/1574873219',
   'road_address_name': '서울 노원구 화랑로 620',
   'x': '127.093708783482',
   'y': '37.625081267346'},
  {'address_name': '서울 노원구 공릉동 272-2',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '가정,생활 > 주말농장',
   'distance': '',
   'id': '1458656678',
   'phone': '',
   'place_name': '경춘선숲길텃밭',
   'place_url': 'http://place.map.kakao.com/1458656678',
   'road_address_name': '',
   'x': '127.080105271318',
   'y': '37.6199340360735'},
  {'address_name': '서울 노원구 공릉동 238-48',
   'category_group_code': 'FD6',
   'category_group_name': '음식점',
   'category_name': '가정,생활 > 식품판매 > 주류판매 > 고래맥주창고',
   'distance': '',
   'id': '134297120',
   'phone': '02-949-8880',
   'place_name': '고래맥주창고 공릉경춘선숲길점',
   'place_url': 'http://place.map.kakao.com/134297120',
   'road_address_name': '서울 노원구 공릉로 146',
   'x': '127.079535473166',
   'y': '37.6230815701827'},
  {'address_name': '서울 노원구 공릉동 441-92',
   'category_group_code': 'CE7',
   'category_group_name': '카페',
   'category_name': '음식점 > 카페 > 커피전문점 > 컴포즈커피',
   'distance': '',
   'id': '777293819',
   'phone': '02-976-1874',
   'place_name': '컴포즈커피 공릉경춘선숲길점',
   'place_url': 'http://place.map.kakao.com/777293819',
   'road_address_name': '서울 노원구 동일로192길 74',
   'x': '127.07700337611239',
   'y': '37.62710255174435'},
  {'address_name': '서울 노원구 공릉동 29-4',
   'category_group_code': 'CT1',
   'category_group_name': '문화시설',
   'category_name': '문화,예술 > 문화시설 > 전시관',
   'distance': '',
   'id': '1665171510',
   'phone': '02-501-8210',
   'place_name': '타임뮤지엄',
   'place_url': 'http://place.map.kakao.com/1665171510',
   'road_address_name': '서울 노원구 화랑로 608',
   'x': '127.093089495289',
   'y': '37.6244510668226'},
  {'address_name': '서울 노원구 공릉동 350-90',
   'category_group_code': 'CE7',
   'category_group_name': '카페',
   'category_name': '음식점 > 카페',
   'distance': '',
   'id': '1275682622',
   'phone': '0507-1444-8092',
   'place_name': '우아즈',
   'place_url': 'http://place.map.kakao.com/1275682622',
   'road_address_name': '서울 노원구 공릉로27길 72-3',
   'x': '127.07793053854739',
   'y': '37.6243422208485'}],
 'meta': {'is_end': True,
  'pageable_count': 8,
  'same_name': {'keyword': '경춘선숲길', 'region': [], 'selected_region': ''},
  'total_count': 8}}

In [9]:
park_1.loc[129,"지역"]="노원구" # 결측치 입력

In [37]:
park_1["지역"]

0       중구
1      강동구
2      과천시
3      성동구
4      마포구
      ...
127    중랑구
128    마포구
129    노원구
130    강남구
131     중구
Name: 지역, Length: 132, dtype: object

In [10]:
park_2=park_1.groupby("지역")[["지역"]].count() # 지역별 공원의 갯수 추출

In [25]:
park_2

      지역
지역
강남구    7
강동구    7
강북구    4
강서구    9
과천시    1
관악구    2
광진구    2
구로구    4
금천구    4
노원구    3
도봉구    6
동대문구   4
동작구    7
마포구    5
서대문구   4
서초구    6
성동구    5
성북구    3
송파구    7
양천구    5
영등포구   5
용산구    2
은평구    7
종로구   12
중구     5
중랑구    6

In [29]:
park_2.cloumns=["공원수"]

In [30]:
park_2

      지역
지역
강남구    7
강동구    7
강북구    4
강서구    9
과천시    1
관악구    2
광진구    2
구로구    4
금천구    4
노원구    3
도봉구    6
동대문구   4
동작구    7
마포구    5
서대문구   4
서초구    6
성동구    5
성북구    3
송파구    7
양천구    5
영등포구   5
용산구    2
은평구    7
종로구   12
중구     5
중랑구    6

In [36]:
park_2.drop("과천시",inplace=True)

In [37]:
park_data = park_2

In [38]:
park_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 강남구 to 중랑구
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      25 non-null     int64
dtypes: int64(1)
memory usage: 400.0+ bytes

In [39]:
park_data

      지역
지역
강남구    7
강동구    7
강북구    4
강서구    9
관악구    2
광진구    2
구로구    4
금천구    4
노원구    3
도봉구    6
동대문구   4
동작구    7
마포구    5
서대문구   4
서초구    6
성동구    5
성북구    3
송파구    7
양천구    5
영등포구   5
용산구    2
은평구    7
종로구   12
중구     5
중랑구    6

In [40]:
park_data.to_csv("C:\\Users\\owner\\team project\\전처리 완\\park_data.csv")