In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

 
import matplotlib.font_manager as fm                                  # 한글을 불러올 수 있게 하는 코드
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)
 
import matplotlib as mlp                                              #  - 를 읽어 올 수 있게 하는 코드
mlp.rcParams["axes.unicode_minus"] = False

In [2]:
import xml.etree.ElementTree as et
import urllib.request as req
import requests
import urllib.request as req
from urllib.error import HTTPError, URLError
import bs4
from bs4 import BeautifulSoup 
from urllib.request import urlopen
from bs4 import BeautifulSoup
import time
from tqdm import tqdm_notebook
import folium
import googlemaps
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from glob import glob

In [3]:
driver = webdriver.Chrome("C:\\maenuk\\chromedriver")
url = 'https://ko.wikipedia.org/wiki/%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C%EC%9D%98_%EB%8C%80%ED%95%99_%EB%AA%A9%EB%A1%9D'
driver.get(url)

C:\Users\owner\AppData\Local\Temp\ipykernel_5340\4252791956.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("C:\\maenuk\\chromedriver")

In [4]:
list=driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]/tbody').text.split("\n")

In [5]:
list

['가톨릭대학교 사립 종로구(성신교정), 서초구(성의교정) 3캠퍼스, 9대학, 14대학원 경기도 소재',
 '감리교신학대학교 사립 서대문구 1캠퍼스, 1대학, 3대학원',
 '건국대학교 사립 광진구 1캠퍼스, 11대학, 12대학원',
 '경기대학교 사립 서대문구 2캠퍼스, 5대학, 10대학원 경기도 소재',
 '경희대학교 사립 동대문구 3캠퍼스, 24대학, 14대학원',
 '고려대학교 사립 성북구 1캠퍼스, 12대학, 19대학원',
 '광운대학교 사립 노원구 1캠퍼스, 7대학, 7대학원',
 '국민대학교 사립 성북구 1캠퍼스, 14대학, 15대학원',
 '강서대학교 사립 강서구 1캠퍼스, 1대학, 4대학원',
 '덕성여자대학교 사립 도봉구 1캠퍼스, 6대학, 3대학원',
 '동국대학교 사립 중구 2캠퍼스, 13대학, 11대학원',
 '동덕여자대학교 사립 성북구 1캠퍼스, 9대학, 7대학원',
 '명지대학교 사립 서대문구 2캠퍼스, 10대학, 9대학원 경기도 소재',
 '삼육대학교 사립 노원구 1캠퍼스, 8대학, 4대학원',
 '상명대학교 사립 종로구 2캠퍼스, 5대학, 5대학원',
 '서강대학교 사립 마포구 1캠퍼스, 1대학, 12대학원',
 '서경대학교 사립 성북구 1캠퍼스, 5대학, 3대학원',
 '서울한영대학교 사립 구로구 1캠퍼스, 1대학, 3대학원',
 '서울대학교 국립대 법인 관악구(관악캠퍼스), 종로구(연건캠퍼스) 3캠퍼스, 16대학, 11대학원',
 '서울여자대학교 사립 노원구(노원캠퍼스), 종로구(대학로캠퍼스) 1캠퍼스, 7대학, 4대학원',
 '서울과학기술대학교 국립 노원구 1캠퍼스, 6대학, 7대학원',
 '서울기독대학교 사립 은평구 1캠퍼스, 1대학, 6대학원',
 '서울시립대학교 공립 동대문구 1캠퍼스, 8대학, 10대학원',
 '성공회대학교 사립 구로구 1캠퍼스, 1대학, 7대학원',
 '성균관대학교 사립 종로구 2캠퍼스, 16대학, 21대학원',
 '성신여자대학교 사립 도봉구(수정캠퍼스), 성북구(운정캠퍼스) 1캠퍼스, 10대학, 5대학원',
 '세종대학교 사립 광진구 1캠퍼스, 11대학, 7대학원',
 '숙명여자대학교 사립 용산구 1캠퍼스, 11대학, 10대학원',
 '숭실대학교 사립 동작구 1캠퍼스, 9대학, 8대학원',
 '연세대학교 사립 서대문구 2캠퍼스, 17대학, 17대학원',
 '육군사관학교 국립 노원구 1캠퍼스, 1대학 -대학원 사관학교',
 '이화여자대학교 사립 서대문구 1캠퍼스, 13대학, 14대학원',
 '장로회신학대학교 사립 광진구 1캠퍼스, 1대학, 6대학원',
 '중앙대학교 사립 동작구 2캠퍼스, 15대학, 16대학원',
 '총신대학교 사립 동작구 2캠퍼스, 1대학, 8대학원',
 '추계예술대학교 사립 서대문구 1캠퍼스, 3대학, 3대학원',
 '한국성서대학교 사립 노원구 1캠퍼스, 1대학, 4대학원',
 '한국외국어대학교 사립 동대문구 2캠퍼스, 18대학, 9대학원',
 '한성대학교 사립 성북구 1캠퍼스, 4대학, 8대학원',
 '한양대학교 사립 성동구 1캠퍼스, 13대학, 16대학원',
 '한신대학교 사립 강북구 2캠퍼스, 5대학, 8대학원 경기도 소재',
 '호서대학교 사립 서초구 2캠퍼스, 8대학 충청남도 소재',
 '홍익대학교 사립 마포구 2캠퍼스, 11대학, 14대학원',
 '한국과학기술원 특별법법인 동대문구(홍릉캠퍼스), 강남구(도곡캠퍼스) 2캠퍼스, 5대학, 1대학원 대전광역시 소재',
 '한국체육대학교 국립 송파구 1캠퍼스, 2대학, 3대학원']

In [6]:
import re

In [7]:
location=[]
for i in list:
    pattern1="[가-힇]+구"  
    result=re.findall(pattern1,i)
    if len(result)== 2 : 
        location.append(result[0])
        location.append(result[1])
    else:
        location.append(result[0])

In [8]:
len(location)

50

In [36]:
location

['종로구',
 '서초구',
 '서대문구',
 '광진구',
 '서대문구',
 '동대문구',
 '성북구',
 '노원구',
 '성북구',
 '강서구',
 '도봉구',
 '중구',
 '성북구',
 '서대문구',
 '노원구',
 '종로구',
 '마포구',
 '성북구',
 '구로구',
 '관악구',
 '종로구',
 '노원구',
 '종로구',
 '노원구',
 '은평구',
 '동대문구',
 '구로구',
 '종로구',
 '도봉구',
 '성북구',
 '광진구',
 '용산구',
 '동작구',
 '서대문구',
 '노원구',
 '서대문구',
 '광진구',
 '동작구',
 '동작구',
 '서대문구',
 '노원구',
 '동대문구',
 '성북구',
 '성동구',
 '강북구',
 '서초구',
 '마포구',
 '동대문구',
 '강남구',
 '송파구']

In [12]:
list2=driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]').text.split("\n")

In [13]:
location.append(list2[0])

In [14]:
location

['종로구',
 '서초구',
 '서대문구',
 '광진구',
 '서대문구',
 '동대문구',
 '성북구',
 '노원구',
 '성북구',
 '강서구',
 '도봉구',
 '중구',
 '성북구',
 '서대문구',
 '노원구',
 '종로구',
 '마포구',
 '성북구',
 '구로구',
 '관악구',
 '종로구',
 '노원구',
 '종로구',
 '노원구',
 '은평구',
 '동대문구',
 '구로구',
 '종로구',
 '도봉구',
 '성북구',
 '광진구',
 '용산구',
 '동작구',
 '서대문구',
 '노원구',
 '서대문구',
 '광진구',
 '동작구',
 '동작구',
 '서대문구',
 '노원구',
 '동대문구',
 '성북구',
 '성동구',
 '강북구',
 '서초구',
 '마포구',
 '동대문구',
 '강남구',
 '송파구',
 '서초구',
 '서초구']

In [15]:
list3=driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[3]').text.split("\n")

In [16]:
list3

['이름 설립 유형 위치 비고',
 '동양미래대학교 사립 구로구',
 '명지전문대학 사립 서대문구',
 '배화여자대학교 사립 종로구',
 '삼육보건대학교 사립 동대문구',
 '서울여자간호대학교 사립 서대문구',
 '서일대학교 사립 중랑구',
 '숭의여자대학교 사립 중구',
 '인덕대학교 사립 노원구',
 '한국폴리텍I대학 사립 용산구(정수캠퍼스), 강서구(강서캠퍼스) 기능대학',
 '한양여자대학교 사립 성동구']

In [18]:
for i in list3:
    pattern1="[가-힇]+구"
    result=re.findall(pattern1,i)
    if len(result) == 0: # 매칭되는 패턴이 없는 경우 오류 메시지 출력
        print("No matching pattern found in string: {}".format(i))
    elif len(result)== 2 : 
        location.append(result[0])
        location.append(result[1])
    else:
        location.append(result[0])

No matching pattern found in string: 이름 설립 유형 위치 비고

In [19]:
len(location)

63

In [22]:
list4=driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[4]').text.split("\n")

In [23]:
for i in list4:
    pattern1="[가-힇]+구"
    result=re.findall(pattern1,i)
    if len(result) == 0: # 매칭되는 패턴이 없는 경우 오류 메시지 출력
        print("No matching pattern found in string: {}".format(i))
    elif len(result)== 2 : 
        location.append(result[0])
        location.append(result[1])
    else:
        location.append(result[0])

No matching pattern found in string: 이름 설립 유형 위치 비고

In [26]:
len(location)

66

In [59]:
list5=driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[10]/tbody/tr/td[3]').text.split(",")

In [62]:
list5

['성북구', ' 서초구']

In [63]:
location.append(list5[0])

In [66]:
location.append(list5[1])

In [67]:
len(location)

68

In [61]:
location=location[0:66]

In [68]:
location

['종로구',
 '서초구',
 '서대문구',
 '광진구',
 '서대문구',
 '동대문구',
 '성북구',
 '노원구',
 '성북구',
 '강서구',
 '도봉구',
 '중구',
 '성북구',
 '서대문구',
 '노원구',
 '종로구',
 '마포구',
 '성북구',
 '구로구',
 '관악구',
 '종로구',
 '노원구',
 '종로구',
 '노원구',
 '은평구',
 '동대문구',
 '구로구',
 '종로구',
 '도봉구',
 '성북구',
 '광진구',
 '용산구',
 '동작구',
 '서대문구',
 '노원구',
 '서대문구',
 '광진구',
 '동작구',
 '동작구',
 '서대문구',
 '노원구',
 '동대문구',
 '성북구',
 '성동구',
 '강북구',
 '서초구',
 '마포구',
 '동대문구',
 '강남구',
 '송파구',
 '서초구',
 '서초구',
 '구로구',
 '서대문구',
 '종로구',
 '동대문구',
 '서대문구',
 '중랑구',
 '중구',
 '노원구',
 '용산구',
 '강서구',
 '성동구',
 '강남구',
 '서초구',
 '중구',
 '성북구',
 ' 서초구']

In [76]:
university=pd.DataFrame({"자치구별":location})

In [70]:
university

    대학교수
0    종로구
1    서초구
2   서대문구
3    광진구
4   서대문구
..   ...
63   강남구
64   서초구
65    중구
66   성북구
67   서초구

[68 rows x 1 columns]

In [78]:
university=university.groupby("자치구별")[["자치구별"]].count()

In [80]:
university.columns=["대학교갯수"]

In [81]:
university

      대학교갯수
자치구별
 서초구      1
강남구       2
강북구       1
강서구       2
관악구       1
광진구       3
구로구       3
노원구       7
도봉구       2
동대문구      5
동작구       3
마포구       2
서대문구      8
서초구       5
성동구       2
성북구       7
송파구       1
용산구       2
은평구       1
종로구       6
중구        3
중랑구       1

In [82]:
university.to_csv("C:\\Users\\owner\\team project\\전처리 완\\university.csv")

In [82]:
uni.columns=["대학교개수"]

In [84]:
uni

      대학교개수
자치구별
강남구       1
강북구       1
강서구       1
관악구       1
광진구       3
구로구       2
노원구       6
도봉구       2
동대문구      4
동작구       3
마포구       2
서대문구      6
서초구       2
성동구       1
성북구       6
송파구       1
용산구       1
은평구       1
종로구       5
중구        1

In [85]:
uni.to_csv("C:\\Users\\owner\\team project\\전처리 완\\university.csv")