In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

import xml.etree.ElementTree as et

import urllib.request as req
import requests
import json

import urllib.request as req
from urllib.error import HTTPError, URLError 

from bs4 import BeautifulSoup

from urllib.request import urlopen

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import os
import re

from scipy.stats import shapiro
from scipy import stats
import scipy

# 대학교

In [4]:
uni = pd.read_csv('C:/acorn/MidtermProject/프로젝트/maenuk/전처리 완/18-22대학수.csv')
uni

    자치구별  2018년도대학교수  2019년도대학교수  2020년도대학교수  2021년도대학교수  2022년도대학교수
0    종로구           3           3           3           3           3
1     중구           2           2           2           2           2
2    용산구           1           1           1           1           1
3    성동구           2           2           2           2           2
4    광진구           3           3           3           3           3
5   동대문구           4           4           4           4           4
6    중랑구           1           1           1           1           1
7    성북구           6           6           6           6           6
8    도봉구           1           1           1           1           1
9    노원구           6           6           6           6           6
10   은평구           1           1           1           1           1
11  서대문구           6           6           6           6           6
12   마포구           2           2           2           2           2
13   강서구           1           1           1           1           1
14   구로구           3           3           3           3           3
15   동작구           3           3           3           3           3
16   관악구           1           1           1           1           1
17   서초구           1           1           1           1           1
18   송파구           1           1           1           1           1

In [6]:
uni.rename(columns={'2018년도대학교수':'2018', '2019년도대학교수':'2019', '2020년도대학교수':'2020', '2021년도대학교수':'2021', '2022년도대학교수':'2022'}, inplace=True)

대학교 없는 구도 있는 것인지?

5년 다 대학수 똑같음

## 매매가

In [8]:
buy2018 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_buysell_price_2018-22/save_point3_apt_buysell_2018_data.csv')
buy2018.drop(index=25, inplace=True)
buy2018.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2018가격'}, inplace=True)
buy2018 = buy2018[['자치구별', '2018가격']]
buy2018

    자치구별  2018가격
0    강남구  1702.0
1    강동구   858.0
2    강북구   563.0
3    강서구   728.0
4    관악구   642.0
5    광진구   943.0
6    구로구   595.0
7    금천구   516.0
8    노원구   601.0
9    도봉구   504.0
10  동대문구   693.0
11   동작구   880.0
12   마포구   989.0
13  서대문구   727.0
14   서초구  1461.0
15   성동구  1048.0
16   성북구   629.0
17   송파구  1201.0
18   양천구   811.0
19  영등포구   845.0
20   용산구  1200.0
21   은평구   627.0
22   종로구   764.0
23    중구   871.0
24   중랑구   541.0

In [9]:
buy2019 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_buysell_price_2018-22/save_point3_apt_buysell_2019_data.csv')
buy2019.drop(index=25, inplace=True)
buy2019.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2019가격'}, inplace=True)
buy2019 = buy2019[['자치구별', '2019가격']]
buy2019

    자치구별  2019가격
0    강남구  2051.0
1    강동구  1007.0
2    강북구   665.0
3    강서구   852.0
4    관악구   757.0
5    광진구  1105.0
6    구로구   707.0
7    금천구   619.0
8    노원구   703.0
9    도봉구   594.0
10  동대문구   840.0
11   동작구  1066.0
12   마포구  1221.0
13  서대문구   922.0
14   서초구  1755.0
15   성동구  1245.0
16   성북구   771.0
17   송파구  1440.0
18   양천구  1038.0
19  영등포구  1039.0
20   용산구  1463.0
21   은평구   729.0
22   종로구  1015.0
23    중구  1024.0
24   중랑구   660.0

In [10]:
buy2020 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_buysell_price_2018-22/save_point3_apt_buysell_2020_data.csv')
buy2020.drop(index=25, inplace=True)
buy2020.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2020가격'}, inplace=True)
buy2020 = buy2020[['자치구별', '2020가격']]
buy2020

    자치구별  2020가격
0    강남구  2117.0
1    강동구  1170.0
2    강북구   771.0
3    강서구   964.0
4    관악구   871.0
5    광진구  1291.0
6    구로구   769.0
7    금천구   739.0
8    노원구   844.0
9    도봉구   675.0
10  동대문구   995.0
11   동작구  1230.0
12   마포구  1344.0
13  서대문구  1038.0
14   서초구  1913.0
15   성동구  1471.0
16   성북구   914.0
17   송파구  1601.0
18   양천구  1143.0
19  영등포구  1180.0
20   용산구  1594.0
21   은평구   827.0
22   종로구  1034.0
23    중구  1138.0
24   중랑구   760.0

In [11]:
buy2021 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_buysell_price_2018-22/save_point3_apt_buysell_2021_data.csv')
buy2021.drop(index=25, inplace=True)
buy2021.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2021가격'}, inplace=True)
buy2021 = buy2021[['자치구별', '2021가격']]
buy2021

    자치구별  2021가격
0    강남구  2351.0
1    강동구  1437.0
2    강북구   939.0
3    강서구  1175.0
4    관악구  1089.0
5    광진구  1517.0
6    구로구   945.0
7    금천구   914.0
8    노원구  1116.0
9    도봉구   899.0
10  동대문구  1174.0
11   동작구  1670.0
12   마포구  1568.0
13  서대문구  1256.0
14   서초구  2208.0
15   성동구  1806.0
16   성북구  1144.0
17   송파구  1983.0
18   양천구  1353.0
19  영등포구  1378.0
20   용산구  1903.0
21   은평구  1042.0
22   종로구  1239.0
23    중구  1285.0
24   중랑구   969.0

In [12]:
buy2022 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_buysell_price_2018-22/save_point3_apt_buysell_2022_data.csv')
buy2022.drop(index=25, inplace=True)
buy2022.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2022가격'}, inplace=True)
buy2022 = buy2022[['자치구별', '2022가격']]
buy2022

    자치구별  2022가격
0    강남구  2296.0
1    강동구  1322.0
2    강북구   942.0
3    강서구  1036.0
4    관악구  1045.0
5    광진구  1424.0
6    구로구   881.0
7    금천구  1014.0
8    노원구  1116.0
9    도봉구   890.0
10  동대문구  1108.0
11   동작구  1422.0
12   마포구  1567.0
13  서대문구  1219.0
14   서초구  2328.0
15   성동구  1841.0
16   성북구  1129.0
17   송파구  1965.0
18   양천구  1310.0
19  영등포구  1220.0
20   용산구  1986.0
21   은평구  1056.0
22   종로구  1175.0
23    중구  1217.0
24   중랑구   994.0

## 대학교&매매가

In [13]:
from functools import reduce
import pandas as pd
dfs = [uni, buy2018, buy2019, buy2020, buy2021, buy2022]
df = reduce(lambda left, right: pd.merge(left, right, on='자치구별'), dfs)
df

    자치구별  2018  2019  2020  2021  2022  2018가격  2019가격  2020가격  2021가격  2022가격
0    종로구     3     3     3     3     3   764.0  1015.0  1034.0  1239.0  1175.0
1     중구     2     2     2     2     2   871.0  1024.0  1138.0  1285.0  1217.0
2    용산구     1     1     1     1     1  1200.0  1463.0  1594.0  1903.0  1986.0
3    성동구     2     2     2     2     2  1048.0  1245.0  1471.0  1806.0  1841.0
4    광진구     3     3     3     3     3   943.0  1105.0  1291.0  1517.0  1424.0
5   동대문구     4     4     4     4     4   693.0   840.0   995.0  1174.0  1108.0
6    중랑구     1     1     1     1     1   541.0   660.0   760.0   969.0   994.0
7    성북구     6     6     6     6     6   629.0   771.0   914.0  1144.0  1129.0
8    도봉구     1     1     1     1     1   504.0   594.0   675.0   899.0   890.0
9    노원구     6     6     6     6     6   601.0   703.0   844.0  1116.0  1116.0
10   은평구     1     1     1     1     1   627.0   729.0   827.0  1042.0  1056.0
11  서대문구     6     6     6     6     6   727.0   922.0  1038.0  1256.0  1219.0
12   마포구     2     2     2     2     2   989.0  1221.0  1344.0  1568.0  1567.0
13   강서구     1     1     1     1     1   728.0   852.0   964.0  1175.0  1036.0
14   구로구     3     3     3     3     3   595.0   707.0   769.0   945.0   881.0
15   동작구     3     3     3     3     3   880.0  1066.0  1230.0  1670.0  1422.0
16   관악구     1     1     1     1     1   642.0   757.0   871.0  1089.0  1045.0
17   서초구     1     1     1     1     1  1461.0  1755.0  1913.0  2208.0  2328.0
18   송파구     1     1     1     1     1  1201.0  1440.0  1601.0  1983.0  1965.0

In [14]:
df.to_csv('uni_price_18-22.csv')

### 정규성

In [16]:
shapiro_test = stats.shapiro(df['2018'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.789207398891449, pvalue=0.0007999413646757603)

In [17]:
shapiro_test = stats.shapiro(df['2019'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.789207398891449, pvalue=0.0007999413646757603)

In [18]:
shapiro_test = stats.shapiro(df['2020'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.789207398891449, pvalue=0.0007999413646757603)

In [19]:
shapiro_test = stats.shapiro(df['2021'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.789207398891449, pvalue=0.0007999413646757603)

In [20]:
shapiro_test = stats.shapiro(df['2022'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.789207398891449, pvalue=0.0007999413646757603)

### 상관분석

In [26]:
print(scipy.stats.spearmanr(df['2018'], df['2018가격'])) # p-value 어떻게 보는 것?
print(scipy.stats.spearmanr(df['2019'], df['2019가격']))
print(scipy.stats.spearmanr(df['2020'], df['2020가격']))
print(scipy.stats.spearmanr(df['2021'], df['2021가격']))
print(scipy.stats.spearmanr(df['2022'], df['2022가격']))

SpearmanrResult(correlation=-0.16730937834950174, pvalue=0.49358078014133)
SpearmanrResult(correlation=-0.12594167491143812, pvalue=0.6074256034721888)
SpearmanrResult(correlation=-0.06343047860503087, pvalue=0.7964254722959271)
SpearmanrResult(correlation=-0.06986545469539633, pvalue=0.7762503016227215)
SpearmanrResult(correlation=0.0, pvalue=1.0)

In [25]:
corr = df.corr(method='spearman')
corr

,2018,2019,2020,2021,2022,2018가격,2019가격,2020가격,2021가격,2022가격
2018,1.000000,1.000000,1.000000,1.000000,1.000000,-0.167309,-0.125942,-0.063430,-0.069865,0.000000
2019,1.000000,1.000000,1.000000,1.000000,1.000000,-0.167309,-0.125942,-0.063430,-0.069865,0.000000
2020,1.000000,1.000000,1.000000,1.000000,1.000000,-0.167309,-0.125942,-0.063430,-0.069865,0.000000
2021,1.000000,1.000000,1.000000,1.000000,1.000000,-0.167309,-0.125942,-0.063430,-0.069865,0.000000
2022,1.000000,1.000000,1.000000,1.000000,1.000000,-0.167309,-0.125942,-0.063430,-0.069865,0.000000
2018가격,-0.167309,-0.167309,-0.167309,-0.167309,-0.167309,1.000000,0.992982,0.987719,0.978947,0.924561
2019가격,-0.125942,-0.125942,-0.125942,-0.125942,-0.125942,0.992982,1.000000,0.989474,0.977193,0.935088
2020가격,-0.063430,-0.063430,-0.063430,-0.063430,-0.063430,0.987719,0.989474,1.000000,0.989474,0.957895
2021가격,-0.069865,-0.069865,-0.069865,-0.069865,-0.069865,0.978947,0.977193,0.989474,1.000000,0.956140
2022가격,0.000000,0.000000,0.000000,0.000000,0.000000,0.924561,0.935088,0.957895,0.956140,1.000000

### 회귀분석

In [27]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(df['2018'].values.reshape(-1, 1), df['2018가격'].values.reshape(-1, 1))
lr.coef_[0]

array([-46.67741935])

In [28]:
import statsmodels.api as sm
results = sm.OLS(df['2018가격'], sm.add_constant(df['2018'])).fit()
results.summary()

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2018가격   R-squared:                       0.105
Model:                            OLS   Adj. R-squared:                  0.052
Method:                 Least Squares   F-statistic:                     1.992
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.176
Time:                        02:10:40   Log-Likelihood:                -131.07
No. Observations:                  19   AIC:                             266.1
Df Residuals:                      17   BIC:                             268.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        941.2903    101.796      9.247      0.000     726.519    1156.061
2018         -46.6774     33.073     -1.411      0.176    -116.455      23.100
==============================================================================
Omnibus:                        0.800   Durbin-Watson:                   1.603
Prob(Omnibus):                  0.670   Jarque-Bera (JB):                0.509
Skew:                           0.383   Prob(JB):                        0.775
Kurtosis:                       2.765   Cond. No.                         5.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

- F-statistic의 p-value 값은 Prob(F-statistic)으로 표현되는데, 이는 0.05보다 작기에 이 회귀식은 회귀분석 모델 전체에 대해 통계적으로 의미가 있다고 볼 수 있습니다.

- 중간쯤에 보면 coef와 변수 x1의 p-value 값이 나와있습니다. 여기서 x1은 bmi이고 이 변수의 p-value가 0.000으로 표기 되어 있기에 0.05보다 작으므로 target을 설명하는데 유의하다고 판단할 수 있습니다.

In [29]:
results = sm.OLS(df['2019가격'], sm.add_constant(df['2019'])).fit()
results.summary()

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2019가격   R-squared:                       0.087
Model:                            OLS   Adj. R-squared:                  0.033
Method:                 Least Squares   F-statistic:                     1.614
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.221
Time:                        02:10:41   Log-Likelihood:                -134.93
No. Observations:                  19   AIC:                             273.9
Df Residuals:                      17   BIC:                             275.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1123.1720    124.718      9.006      0.000     860.040    1386.305
2019         -51.4848     40.520     -1.271      0.221    -136.975      34.005
==============================================================================
Omnibus:                        0.641   Durbin-Watson:                   1.611
Prob(Omnibus):                  0.726   Jarque-Bera (JB):                0.498
Skew:                           0.358   Prob(JB):                        0.779
Kurtosis:                       2.659   Cond. No.                         5.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [30]:
results = sm.OLS(df['2020가격'], sm.add_constant(df['2020'])).fit()
results.summary()

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2020가격   R-squared:                       0.069
Model:                            OLS   Adj. R-squared:                  0.015
Method:                 Least Squares   F-statistic:                     1.266
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.276
Time:                        02:10:41   Log-Likelihood:                -136.47
No. Observations:                  19   AIC:                             276.9
Df Residuals:                      17   BIC:                             278.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1244.5054    135.241      9.202      0.000     959.171    1529.839
2020         -49.4292     43.939     -1.125      0.276    -142.132      43.274
==============================================================================
Omnibus:                        0.503   Durbin-Watson:                   1.587
Prob(Omnibus):                  0.778   Jarque-Bera (JB):                0.539
Skew:                           0.321   Prob(JB):                        0.764
Kurtosis:                       2.482   Cond. No.                         5.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [31]:
results = sm.OLS(df['2021가격'], sm.add_constant(df['2021'])).fit()
results.summary()

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2021가격   R-squared:                       0.064
Model:                            OLS   Adj. R-squared:                  0.008
Method:                 Least Squares   F-statistic:                     1.153
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.298
Time:                        02:10:42   Log-Likelihood:                -138.98
No. Observations:                  19   AIC:                             282.0
Df Residuals:                      17   BIC:                             283.9
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1503.8280    154.374      9.741      0.000    1178.127    1829.529
2021         -53.8486     50.155     -1.074      0.298    -159.667      51.969
==============================================================================
Omnibus:                        1.067   Durbin-Watson:                   1.660
Prob(Omnibus):                  0.586   Jarque-Bera (JB):                0.937
Skew:                           0.343   Prob(JB):                        0.626
Kurtosis:                       2.156   Cond. No.                         5.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [32]:
results = sm.OLS(df['2022가격'], sm.add_constant(df['2022'])).fit()
results.summary()

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2022가격   R-squared:                       0.075
Model:                            OLS   Adj. R-squared:                  0.021
Method:                 Least Squares   F-statistic:                     1.378
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.257
Time:                        02:10:43   Log-Likelihood:                -140.24
No. Observations:                  19   AIC:                             284.5
Df Residuals:                      17   BIC:                             286.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1495.6667    164.911      9.070      0.000    1147.736    1843.597
2022         -62.8889     53.578     -1.174      0.257    -175.929      50.151
==============================================================================
Omnibus:                        1.560   Durbin-Watson:                   1.619
Prob(Omnibus):                  0.459   Jarque-Bera (JB):                1.255
Skew:                           0.583   Prob(JB):                        0.534
Kurtosis:                       2.527   Cond. No.                         5.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

---
---
---

### 4년 합친 것 - 할 필요 없어보여서 안 함

In [25]:
bus_long = pd.melt(bus, id_vars=['자치구별'], var_name='year', value_name='bus_num')
bus_long

    자치구별  year  bus_num
0    강남구  2018      534
1    강동구  2018      349
2    강북구  2018      460
3    강서구  2018      576
4    관악구  2018      485
..   ...   ...      ...
120  용산구  2022      441
121  은평구  2022      725
122  종로구  2022      472
123   중구  2022      309
124  중랑구  2022      479

[125 rows x 3 columns]

In [26]:
lst1=[i for i in df['2018가격']]
lst2=[i for i in df['2019가격']]
lst3=[i for i in df['2020가격']]
lst4=[i for i in df['2021가격']]
lst5=[i for i in df['2022가격']]

In [27]:
lst= lst1 + lst2 + lst3 + lst4 + lst5

In [28]:
lst

[1702.0,
 858.0,
 563.0,
 728.0,
 642.0,
 943.0,
 595.0,
 516.0,
 601.0,
 504.0,
 693.0,
 880.0,
 989.0,
 727.0,
 1461.0,
 1048.0,
 629.0,
 1201.0,
 811.0,
 845.0,
 1200.0,
 627.0,
 764.0,
 871.0,
 541.0,
 2051.0,
 1007.0,
 665.0,
 852.0,
 757.0,
 1105.0,
 707.0,
 619.0,
 703.0,
 594.0,
 840.0,
 1066.0,
 1221.0,
 922.0,
 1755.0,
 1245.0,
 771.0,
 1440.0,
 1038.0,
 1039.0,
 1463.0,
 729.0,
 1015.0,
 1024.0,
 660.0,
 2117.0,
 1170.0,
 771.0,
 964.0,
 871.0,
 1291.0,
 769.0,
 739.0,
 844.0,
 675.0,
 995.0,
 1230.0,
 1344.0,
 1038.0,
 1913.0,
 1471.0,
 914.0,
 1601.0,
 1143.0,
 1180.0,
 1594.0,
 827.0,
 1034.0,
 1138.0,
 760.0,
 2351.0,
 1437.0,
 939.0,
 1175.0,
 1089.0,
 1517.0,
 945.0,
 914.0,
 1116.0,
 899.0,
 1174.0,
 1670.0,
 1568.0,
 1256.0,
 2208.0,
 1806.0,
 1144.0,
 1983.0,
 1353.0,
 1378.0,
 1903.0,
 1042.0,
 1239.0,
 1285.0,
 969.0,
 2296.0,
 1322.0,
 942.0,
 1036.0,
 1045.0,
 1424.0,
 881.0,
 1014.0,
 1116.0,
 890.0,
 1108.0,
 1422.0,
 1567.0,
 1219.0,
 2328.0,
 1841.0,
 1129.0,
 1965.0,
 1310.0,
 1220.0,
 1986.0,
 1056.0,
 1175.0,
 1217.0,
 994.0]

In [29]:
bus_long['price'] = lst

In [30]:
bus_long

    자치구별  year  bus_num   price
0    강남구  2018      534  1702.0
1    강동구  2018      349   858.0
2    강북구  2018      460   563.0
3    강서구  2018      576   728.0
4    관악구  2018      485   642.0
..   ...   ...      ...     ...
120  용산구  2022      441  1986.0
121  은평구  2022      725  1056.0
122  종로구  2022      472  1175.0
123   중구  2022      309  1217.0
124  중랑구  2022      479   994.0

[125 rows x 4 columns]

### 정규성

In [31]:
shapiro_test = stats.shapiro(bus_long['bus_num'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.9708263278007507, pvalue=0.008304862305521965)

### 상관분석

In [33]:
print(scipy.stats.spearmanr(bus_long['bus_num'], bus_long['price']))

SpearmanrResult(correlation=0.1466093168232738, pvalue=0.10278419684019524)

### 회귀분석

In [34]:
results = sm.OLS(bus_long['price'], sm.add_constant(bus_long['bus_num'])).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.078
Model:                            OLS   Adj. R-squared:                  0.070
Method:                 Least Squares   F-statistic:                     10.34
Date:                Mon, 24 Apr 2023   Prob (F-statistic):            0.00166
Time:                        01:55:41   Log-Likelihood:                -927.36
No. Observations:                 125   AIC:                             1859.
Df Residuals:                     123   BIC:                             1864.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        725.0544    134.012      5.410      0.000     459.786     990.323
bus_num        0.8833      0.275      3.216      0.002       0.340       1.427
==============================================================================
Omnibus:                       10.030   Durbin-Watson:                   1.682
Prob(Omnibus):                  0.007   Jarque-Bera (JB):               10.902
Skew:                           0.721   Prob(JB):                      0.00429
Kurtosis:                       2.884   Cond. No.                     1.80e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.8e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""