In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

import xml.etree.ElementTree as et

import urllib.request as req
import requests
import json

import urllib.request as req
from urllib.error import HTTPError, URLError 

from bs4 import BeautifulSoup

from urllib.request import urlopen

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import os
import re

from scipy.stats import shapiro
from scipy import stats
import scipy

# 대학교

In [2]:
uni = pd.read_csv('C:/acorn/MidtermProject/프로젝트/maenuk/전처리 완/18-22대학수.csv')
uni

    자치구별  2018년도대학교수  2019년도대학교수  2020년도대학교수  2021년도대학교수  2022년도대학교수
0    종로구           3           3           3           3           3
1     중구           2           2           2           2           2
2    용산구           1           1           1           1           1
3    성동구           2           2           2           2           2
4    광진구           3           3           3           3           3
5   동대문구           4           4           4           4           4
6    중랑구           1           1           1           1           1
7    성북구           6           6           6           6           6
8    도봉구           1           1           1           1           1
9    노원구           6           6           6           6           6
10   은평구           1           1           1           1           1
11  서대문구           6           6           6           6           6
12   마포구           2           2           2           2           2
13   강서구           1           1           1           1           1
14   구로구           3           3           3           3           3
15   동작구           3           3           3           3           3
16   관악구           1           1           1           1           1
17   서초구           1           1           1           1           1
18   송파구           1           1           1           1           1

In [3]:
uni.rename(columns={'2018년도대학교수':'2018', '2019년도대학교수':'2019', '2020년도대학교수':'2020', '2021년도대학교수':'2021', '2022년도대학교수':'2022'}, inplace=True)

대학교 없는 구도 있는 것인지?

5년 다 대학수 똑같음

## 전월세

In [5]:
buy2018 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_rent_price_2018-22/save_point4_apt_rent_2018_data.csv')
buy2018.drop(index=25, inplace=True)
buy2018.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2018가격'}, inplace=True)
buy2018 = buy2018[['자치구별', '2018가격']]
buy2018

    자치구별  2018가격
0    강남구   654.0
1    강동구   472.0
2    강북구   336.0
3    강서구   406.0
4    관악구   369.0
5    광진구   538.0
6    구로구   360.0
7    금천구   335.0
8    노원구   297.0
9    도봉구   276.0
10  동대문구   408.0
11   동작구   502.0
12   마포구   512.0
13  서대문구   436.0
14   서초구   645.0
15   성동구   542.0
16   성북구   407.0
17   송파구   577.0
18   양천구   494.0
19  영등포구   445.0
20   용산구   508.0
21   은평구   369.0
22   종로구   419.0
23    중구   482.0
24   중랑구   305.0

In [6]:
buy2019 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_rent_price_2018-22/save_point4_apt_rent_2019_data.csv')
buy2019.drop(index=25, inplace=True)
buy2019.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2019가격'}, inplace=True)
buy2019 = buy2019[['자치구별', '2019가격']]
buy2019

    자치구별  2019가격
0    강남구   676.0
1    강동구   471.0
2    강북구   339.0
3    강서구   442.0
4    관악구   380.0
5    광진구   546.0
6    구로구   362.0
7    금천구   346.0
8    노원구   304.0
9    도봉구   282.0
10  동대문구   423.0
11   동작구   499.0
12   마포구   536.0
13  서대문구   463.0
14   서초구   638.0
15   성동구   558.0
16   성북구   415.0
17   송파구   576.0
18   양천구   483.0
19  영등포구   478.0
20   용산구   532.0
21   은평구   395.0
22   종로구   538.0
23    중구   453.0
24   중랑구   370.0

In [7]:
buy2020 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_rent_price_2018-22/save_point4_apt_rent_2020_data.csv')
buy2020.drop(index=25, inplace=True)
buy2020.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2020가격'}, inplace=True)
buy2020 = buy2020[['자치구별', '2020가격']]
buy2020

    자치구별  2020가격
0    강남구   781.0
1    강동구   515.0
2    강북구   394.0
3    강서구   453.0
4    관악구   411.0
5    광진구   604.0
6    구로구   375.0
7    금천구   412.0
8    노원구   332.0
9    도봉구   314.0
10  동대문구   474.0
11   동작구   569.0
12   마포구   519.0
13  서대문구   499.0
14   서초구   760.0
15   성동구   618.0
16   성북구   462.0
17   송파구   647.0
18   양천구   527.0
19  영등포구   506.0
20   용산구   579.0
21   은평구   439.0
22   종로구   479.0
23    중구   549.0
24   중랑구   391.0

In [8]:
buy2021 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_rent_price_2018-22/save_point4_apt_rent_2021_data.csv')
buy2021.drop(index=25, inplace=True)
buy2021.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2021가격'}, inplace=True)
buy2021 = buy2021[['자치구별', '2021가격']]
buy2021

    자치구별  2021가격
0    강남구   824.0
1    강동구   516.0
2    강북구   393.0
3    강서구   470.0
4    관악구   460.0
5    광진구   667.0
6    구로구   364.0
7    금천구   403.0
8    노원구   368.0
9    도봉구   355.0
10  동대문구   513.0
11   동작구   630.0
12   마포구   585.0
13  서대문구   533.0
14   서초구   796.0
15   성동구   658.0
16   성북구   497.0
17   송파구   672.0
18   양천구   535.0
19  영등포구   554.0
20   용산구   623.0
21   은평구   444.0
22   종로구   568.0
23    중구   566.0
24   중랑구   419.0

In [9]:
buy2022 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_rent_price_2018-22/save_point4_apt_rent_2022_data.csv')
buy2022.drop(index=25, inplace=True)
buy2022.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2022가격'}, inplace=True)
buy2022 = buy2022[['자치구별', '2022가격']]
buy2022

    자치구별  2022가격
0    강남구   785.0
1    강동구   540.0
2    강북구   376.0
3    강서구   464.0
4    관악구   442.0
5    광진구   642.0
6    구로구   370.0
7    금천구   439.0
8    노원구   347.0
9    도봉구   323.0
10  동대문구   504.0
11   동작구   587.0
12   마포구   563.0
13  서대문구   508.0
14   서초구   813.0
15   성동구   650.0
16   성북구   470.0
17   송파구   656.0
18   양천구   541.0
19  영등포구   551.0
20   용산구   564.0
21   은평구   458.0
22   종로구   520.0
23    중구   547.0
24   중랑구   380.0

## 대학교&전월세가

In [10]:
from functools import reduce
import pandas as pd
dfs = [uni, buy2018, buy2019, buy2020, buy2021, buy2022]
df = reduce(lambda left, right: pd.merge(left, right, on='자치구별'), dfs)
df

    자치구별  2018  2019  2020  2021  2022  2018가격  2019가격  2020가격  2021가격  2022가격
0    종로구     3     3     3     3     3   419.0   538.0   479.0   568.0   520.0
1     중구     2     2     2     2     2   482.0   453.0   549.0   566.0   547.0
2    용산구     1     1     1     1     1   508.0   532.0   579.0   623.0   564.0
3    성동구     2     2     2     2     2   542.0   558.0   618.0   658.0   650.0
4    광진구     3     3     3     3     3   538.0   546.0   604.0   667.0   642.0
5   동대문구     4     4     4     4     4   408.0   423.0   474.0   513.0   504.0
6    중랑구     1     1     1     1     1   305.0   370.0   391.0   419.0   380.0
7    성북구     6     6     6     6     6   407.0   415.0   462.0   497.0   470.0
8    도봉구     1     1     1     1     1   276.0   282.0   314.0   355.0   323.0
9    노원구     6     6     6     6     6   297.0   304.0   332.0   368.0   347.0
10   은평구     1     1     1     1     1   369.0   395.0   439.0   444.0   458.0
11  서대문구     6     6     6     6     6   436.0   463.0   499.0   533.0   508.0
12   마포구     2     2     2     2     2   512.0   536.0   519.0   585.0   563.0
13   강서구     1     1     1     1     1   406.0   442.0   453.0   470.0   464.0
14   구로구     3     3     3     3     3   360.0   362.0   375.0   364.0   370.0
15   동작구     3     3     3     3     3   502.0   499.0   569.0   630.0   587.0
16   관악구     1     1     1     1     1   369.0   380.0   411.0   460.0   442.0
17   서초구     1     1     1     1     1   645.0   638.0   760.0   796.0   813.0
18   송파구     1     1     1     1     1   577.0   576.0   647.0   672.0   656.0

In [11]:
df.to_csv('uni_rentprice_18-22.csv')

### 정규성

In [12]:
shapiro_test = stats.shapiro(df['2018'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.789207398891449, pvalue=0.0007999413646757603)

In [13]:
shapiro_test = stats.shapiro(df['2019'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.789207398891449, pvalue=0.0007999413646757603)

In [14]:
shapiro_test = stats.shapiro(df['2020'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.789207398891449, pvalue=0.0007999413646757603)

In [15]:
shapiro_test = stats.shapiro(df['2021'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.789207398891449, pvalue=0.0007999413646757603)

In [16]:
shapiro_test = stats.shapiro(df['2022'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.789207398891449, pvalue=0.0007999413646757603)

### 상관분석

In [17]:
print(scipy.stats.spearmanr(df['2018'], df['2018가격'])) # p-value 어떻게 보는 것?
print(scipy.stats.spearmanr(df['2019'], df['2019가격']))
print(scipy.stats.spearmanr(df['2020'], df['2020가격']))
print(scipy.stats.spearmanr(df['2021'], df['2021가격']))
print(scipy.stats.spearmanr(df['2022'], df['2022가격']))

SpearmanrResult(correlation=-0.05334177396791596, pvalue=0.8283017666842108)
SpearmanrResult(correlation=-0.07997755998025632, pvalue=0.7448262448952376)
SpearmanrResult(correlation=-0.07354258388989088, pvalue=0.764782057582926)
SpearmanrResult(correlation=-0.04412555033393452, pvalue=0.8576489985738835)
SpearmanrResult(correlation=-0.06526904320227815, pvalue=0.7906479214370885)

In [18]:
corr = df.corr(method='spearman')
corr

,2018,2019,2020,2021,2022,2018가격,2019가격,2020가격,2021가격,2022가격
2018,1.000000,1.000000,1.000000,1.000000,1.000000,-0.053342,-0.079978,-0.073543,-0.044126,-0.065269
2019,1.000000,1.000000,1.000000,1.000000,1.000000,-0.053342,-0.079978,-0.073543,-0.044126,-0.065269
2020,1.000000,1.000000,1.000000,1.000000,1.000000,-0.053342,-0.079978,-0.073543,-0.044126,-0.065269
2021,1.000000,1.000000,1.000000,1.000000,1.000000,-0.053342,-0.079978,-0.073543,-0.044126,-0.065269
2022,1.000000,1.000000,1.000000,1.000000,1.000000,-0.053342,-0.079978,-0.073543,-0.044126,-0.065269
2018가격,-0.053342,-0.053342,-0.053342,-0.053342,-0.053342,1.000000,0.964458,0.987275,0.980255,0.989030
2019가격,-0.079978,-0.079978,-0.079978,-0.079978,-0.079978,0.964458,1.000000,0.954386,0.970175,0.966667
2020가격,-0.073543,-0.073543,-0.073543,-0.073543,-0.073543,0.987275,0.954386,1.000000,0.984211,0.994737
2021가격,-0.044126,-0.044126,-0.044126,-0.044126,-0.044126,0.980255,0.970175,0.984211,1.000000,0.992982
2022가격,-0.065269,-0.065269,-0.065269,-0.065269,-0.065269,0.989030,0.966667,0.994737,0.992982,1.000000

### 회귀분석

In [19]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(df['2018'].values.reshape(-1, 1), df['2018가격'].values.reshape(-1, 1))
lr.coef_[0]

array([-11.21863799])

In [20]:
import statsmodels.api as sm
results = sm.OLS(df['2018가격'], sm.add_constant(df['2018'])).fit()
results.summary()

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2018가격   R-squared:                       0.041
Model:                            OLS   Adj. R-squared:                 -0.016
Method:                 Least Squares   F-statistic:                    0.7198
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.408
Time:                        02:13:30   Log-Likelihood:                -113.66
No. Observations:                  19   AIC:                             231.3
Df Residuals:                      17   BIC:                             233.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        468.2366     40.701     11.504      0.000     382.365     554.108
2018         -11.2186     13.224     -0.848      0.408     -39.118      16.681
==============================================================================
Omnibus:                        0.328   Durbin-Watson:                   1.486
Prob(Omnibus):                  0.849   Jarque-Bera (JB):                0.481
Skew:                          -0.078   Prob(JB):                        0.786
Kurtosis:                       2.236   Cond. No.                         5.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

- F-statistic의 p-value 값은 Prob(F-statistic)으로 표현되는데, 이는 0.05보다 작기에 이 회귀식은 회귀분석 모델 전체에 대해 통계적으로 의미가 있다고 볼 수 있습니다.

- 중간쯤에 보면 coef와 변수 x1의 p-value 값이 나와있습니다. 여기서 x1은 bmi이고 이 변수의 p-value가 0.000으로 표기 되어 있기에 0.05보다 작으므로 target을 설명하는데 유의하다고 판단할 수 있습니다.

In [21]:
results = sm.OLS(df['2019가격'], sm.add_constant(df['2019'])).fit()
results.summary()

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2019가격   R-squared:                       0.047
Model:                            OLS   Adj. R-squared:                 -0.009
Method:                 Least Squares   F-statistic:                    0.8349
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.374
Time:                        02:13:30   Log-Likelihood:                -112.88
No. Observations:                  19   AIC:                             229.8
Df Residuals:                      17   BIC:                             231.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        487.8280     39.070     12.486      0.000     405.398     570.258
2019         -11.5986     12.693     -0.914      0.374     -38.379      15.182
==============================================================================
Omnibus:                        0.838   Durbin-Watson:                   1.432
Prob(Omnibus):                  0.658   Jarque-Bera (JB):                0.789
Skew:                          -0.275   Prob(JB):                        0.674
Kurtosis:                       2.166   Cond. No.                         5.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [22]:
results = sm.OLS(df['2020가격'], sm.add_constant(df['2020'])).fit()
results.summary()

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2020가격   R-squared:                       0.050
Model:                            OLS   Adj. R-squared:                 -0.005
Method:                 Least Squares   F-statistic:                    0.9029
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.355
Time:                        02:13:31   Log-Likelihood:                -115.96
No. Observations:                  19   AIC:                             235.9
Df Residuals:                      17   BIC:                             237.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        534.4731     45.955     11.630      0.000     437.516     631.430
2020         -14.1873     14.931     -0.950      0.355     -45.688      17.314
==============================================================================
Omnibus:                        0.085   Durbin-Watson:                   1.559
Prob(Omnibus):                  0.958   Jarque-Bera (JB):                0.228
Skew:                           0.132   Prob(JB):                        0.892
Kurtosis:                       2.533   Cond. No.                         5.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [23]:
results = sm.OLS(df['2021가격'], sm.add_constant(df['2021'])).fit()
results.summary()

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2021가격   R-squared:                       0.037
Model:                            OLS   Adj. R-squared:                 -0.020
Method:                 Least Squares   F-statistic:                    0.6477
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.432
Time:                        02:13:31   Log-Likelihood:                -117.22
No. Observations:                  19   AIC:                             238.4
Df Residuals:                      17   BIC:                             240.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        568.6452     49.100     11.581      0.000     465.053     672.238
2021         -12.8387     15.952     -0.805      0.432     -46.495      20.818
==============================================================================
Omnibus:                        0.424   Durbin-Watson:                   1.554
Prob(Omnibus):                  0.809   Jarque-Bera (JB):                0.527
Skew:                           0.033   Prob(JB):                        0.768
Kurtosis:                       2.187   Cond. No.                         5.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [24]:
results = sm.OLS(df['2022가격'], sm.add_constant(df['2022'])).fit()
results.summary()

C:\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1769: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=19
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2022가격   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                 -0.013
Method:                 Least Squares   F-statistic:                    0.7770
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.390
Time:                        02:13:31   Log-Likelihood:                -117.43
No. Observations:                  19   AIC:                             238.9
Df Residuals:                      17   BIC:                             240.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        552.1290     49.647     11.121      0.000     447.384     656.874
2022         -14.2177     16.130     -0.881      0.390     -48.249      19.813
==============================================================================
Omnibus:                        0.440   Durbin-Watson:                   1.573
Prob(Omnibus):                  0.803   Jarque-Bera (JB):                0.210
Skew:                           0.242   Prob(JB):                        0.900
Kurtosis:                       2.821   Cond. No.                         5.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

---
---
---

### 4년 합친 것 - 할 필요 없어보여서 안 함

In [25]:
bus_long = pd.melt(bus, id_vars=['자치구별'], var_name='year', value_name='bus_num')
bus_long

    자치구별  year  bus_num
0    강남구  2018      534
1    강동구  2018      349
2    강북구  2018      460
3    강서구  2018      576
4    관악구  2018      485
..   ...   ...      ...
120  용산구  2022      441
121  은평구  2022      725
122  종로구  2022      472
123   중구  2022      309
124  중랑구  2022      479

[125 rows x 3 columns]

In [26]:
lst1=[i for i in df['2018가격']]
lst2=[i for i in df['2019가격']]
lst3=[i for i in df['2020가격']]
lst4=[i for i in df['2021가격']]
lst5=[i for i in df['2022가격']]

In [27]:
lst= lst1 + lst2 + lst3 + lst4 + lst5

In [28]:
lst

[1702.0,
 858.0,
 563.0,
 728.0,
 642.0,
 943.0,
 595.0,
 516.0,
 601.0,
 504.0,
 693.0,
 880.0,
 989.0,
 727.0,
 1461.0,
 1048.0,
 629.0,
 1201.0,
 811.0,
 845.0,
 1200.0,
 627.0,
 764.0,
 871.0,
 541.0,
 2051.0,
 1007.0,
 665.0,
 852.0,
 757.0,
 1105.0,
 707.0,
 619.0,
 703.0,
 594.0,
 840.0,
 1066.0,
 1221.0,
 922.0,
 1755.0,
 1245.0,
 771.0,
 1440.0,
 1038.0,
 1039.0,
 1463.0,
 729.0,
 1015.0,
 1024.0,
 660.0,
 2117.0,
 1170.0,
 771.0,
 964.0,
 871.0,
 1291.0,
 769.0,
 739.0,
 844.0,
 675.0,
 995.0,
 1230.0,
 1344.0,
 1038.0,
 1913.0,
 1471.0,
 914.0,
 1601.0,
 1143.0,
 1180.0,
 1594.0,
 827.0,
 1034.0,
 1138.0,
 760.0,
 2351.0,
 1437.0,
 939.0,
 1175.0,
 1089.0,
 1517.0,
 945.0,
 914.0,
 1116.0,
 899.0,
 1174.0,
 1670.0,
 1568.0,
 1256.0,
 2208.0,
 1806.0,
 1144.0,
 1983.0,
 1353.0,
 1378.0,
 1903.0,
 1042.0,
 1239.0,
 1285.0,
 969.0,
 2296.0,
 1322.0,
 942.0,
 1036.0,
 1045.0,
 1424.0,
 881.0,
 1014.0,
 1116.0,
 890.0,
 1108.0,
 1422.0,
 1567.0,
 1219.0,
 2328.0,
 1841.0,
 1129.0,
 1965.0,
 1310.0,
 1220.0,
 1986.0,
 1056.0,
 1175.0,
 1217.0,
 994.0]

In [29]:
bus_long['price'] = lst

In [30]:
bus_long

    자치구별  year  bus_num   price
0    강남구  2018      534  1702.0
1    강동구  2018      349   858.0
2    강북구  2018      460   563.0
3    강서구  2018      576   728.0
4    관악구  2018      485   642.0
..   ...   ...      ...     ...
120  용산구  2022      441  1986.0
121  은평구  2022      725  1056.0
122  종로구  2022      472  1175.0
123   중구  2022      309  1217.0
124  중랑구  2022      479   994.0

[125 rows x 4 columns]

### 정규성

In [31]:
shapiro_test = stats.shapiro(bus_long['bus_num'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.9708263278007507, pvalue=0.008304862305521965)

### 상관분석

In [33]:
print(scipy.stats.spearmanr(bus_long['bus_num'], bus_long['price']))

SpearmanrResult(correlation=0.1466093168232738, pvalue=0.10278419684019524)

### 회귀분석

In [34]:
results = sm.OLS(bus_long['price'], sm.add_constant(bus_long['bus_num'])).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.078
Model:                            OLS   Adj. R-squared:                  0.070
Method:                 Least Squares   F-statistic:                     10.34
Date:                Mon, 24 Apr 2023   Prob (F-statistic):            0.00166
Time:                        01:55:41   Log-Likelihood:                -927.36
No. Observations:                 125   AIC:                             1859.
Df Residuals:                     123   BIC:                             1864.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        725.0544    134.012      5.410      0.000     459.786     990.323
bus_num        0.8833      0.275      3.216      0.002       0.340       1.427
==============================================================================
Omnibus:                       10.030   Durbin-Watson:                   1.682
Prob(Omnibus):                  0.007   Jarque-Bera (JB):               10.902
Skew:                           0.721   Prob(JB):                      0.00429
Kurtosis:                       2.884   Cond. No.                     1.80e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.8e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""