In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

import xml.etree.ElementTree as et

import urllib.request as req
import requests
import json

import urllib.request as req
from urllib.error import HTTPError, URLError 

from bs4 import BeautifulSoup

from urllib.request import urlopen

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import os
import re

from scipy.stats import shapiro
from scipy import stats
import scipy

# 버스정류장

In [2]:
bus = pd.read_csv('final_bus_gu_year.csv', index_col=0)
bus

    자치구별  2018  2019  2020  2021  2022
0    강남구   534   548   545   520   823
1    강동구   349   385   383   365   573
2    강북구   460   448   415   409   454
3    강서구   576   603   611   569   801
4    관악구   485   485   470   467   638
5    광진구   286   292   288   270   380
6    구로구   478   513   510   497   720
7    금천구   342   362   357   342   540
8    노원구   537   544   538   527   736
9    도봉구   386   391   366   358   448
10  동대문구   318   319   311   303   408
11   동작구   460   447   440   437   545
12   마포구   569   568   570   563   764
13  서대문구   444   446   457   454   542
14   서초구   648   649   638   605   962
15   성동구   439   442   433   445   502
16   성북구   611   604   599   601   670
17   송파구   413   429   440   414   716
18   양천구   363   365   320   317   491
19  영등포구   491   504   494   466   679
20   용산구   349   344   327   328   441
21   은평구   499   511   501   497   725
22   종로구   382   375   374   369   472
23    중구   207   211   241   200   309
24   중랑구   379   380   382   380   479

## 매매가

In [3]:
buy2018 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_buysell_price_2018-22/save_point3_apt_buysell_2018_data.csv')
buy2018.drop(index=25, inplace=True)
buy2018.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2018가격'}, inplace=True)
buy2018 = buy2018[['자치구별', '2018가격']]
buy2018

    자치구별  2018가격
0    강남구  1702.0
1    강동구   858.0
2    강북구   563.0
3    강서구   728.0
4    관악구   642.0
5    광진구   943.0
6    구로구   595.0
7    금천구   516.0
8    노원구   601.0
9    도봉구   504.0
10  동대문구   693.0
11   동작구   880.0
12   마포구   989.0
13  서대문구   727.0
14   서초구  1461.0
15   성동구  1048.0
16   성북구   629.0
17   송파구  1201.0
18   양천구   811.0
19  영등포구   845.0
20   용산구  1200.0
21   은평구   627.0
22   종로구   764.0
23    중구   871.0
24   중랑구   541.0

In [4]:
buy2019 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_buysell_price_2018-22/save_point3_apt_buysell_2019_data.csv')
buy2019.drop(index=25, inplace=True)
buy2019.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2019가격'}, inplace=True)
buy2019 = buy2019[['자치구별', '2019가격']]
buy2019

    자치구별  2019가격
0    강남구  2051.0
1    강동구  1007.0
2    강북구   665.0
3    강서구   852.0
4    관악구   757.0
5    광진구  1105.0
6    구로구   707.0
7    금천구   619.0
8    노원구   703.0
9    도봉구   594.0
10  동대문구   840.0
11   동작구  1066.0
12   마포구  1221.0
13  서대문구   922.0
14   서초구  1755.0
15   성동구  1245.0
16   성북구   771.0
17   송파구  1440.0
18   양천구  1038.0
19  영등포구  1039.0
20   용산구  1463.0
21   은평구   729.0
22   종로구  1015.0
23    중구  1024.0
24   중랑구   660.0

In [5]:
buy2020 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_buysell_price_2018-22/save_point3_apt_buysell_2020_data.csv')
buy2020.drop(index=25, inplace=True)
buy2020.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2020가격'}, inplace=True)
buy2020 = buy2020[['자치구별', '2020가격']]
buy2020

    자치구별  2020가격
0    강남구  2117.0
1    강동구  1170.0
2    강북구   771.0
3    강서구   964.0
4    관악구   871.0
5    광진구  1291.0
6    구로구   769.0
7    금천구   739.0
8    노원구   844.0
9    도봉구   675.0
10  동대문구   995.0
11   동작구  1230.0
12   마포구  1344.0
13  서대문구  1038.0
14   서초구  1913.0
15   성동구  1471.0
16   성북구   914.0
17   송파구  1601.0
18   양천구  1143.0
19  영등포구  1180.0
20   용산구  1594.0
21   은평구   827.0
22   종로구  1034.0
23    중구  1138.0
24   중랑구   760.0

In [6]:
buy2021 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_buysell_price_2018-22/save_point3_apt_buysell_2021_data.csv')
buy2021.drop(index=25, inplace=True)
buy2021.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2021가격'}, inplace=True)
buy2021 = buy2021[['자치구별', '2021가격']]
buy2021

    자치구별  2021가격
0    강남구  2351.0
1    강동구  1437.0
2    강북구   939.0
3    강서구  1175.0
4    관악구  1089.0
5    광진구  1517.0
6    구로구   945.0
7    금천구   914.0
8    노원구  1116.0
9    도봉구   899.0
10  동대문구  1174.0
11   동작구  1670.0
12   마포구  1568.0
13  서대문구  1256.0
14   서초구  2208.0
15   성동구  1806.0
16   성북구  1144.0
17   송파구  1983.0
18   양천구  1353.0
19  영등포구  1378.0
20   용산구  1903.0
21   은평구  1042.0
22   종로구  1239.0
23    중구  1285.0
24   중랑구   969.0

In [8]:
buy2022 = pd.read_csv('C:/acorn/MidtermProject/프로젝트/SeokwonNa/apt_buysell_price_2018-22/save_point3_apt_buysell_2022_data.csv')
buy2022.drop(index=25, inplace=True)
buy2022.rename(columns={'1m^2 전용면적당 거래금액(만원)':'2022가격'}, inplace=True)
buy2022 = buy2022[['자치구별', '2022가격']]
buy2022

    자치구별  2022가격
0    강남구  2296.0
1    강동구  1322.0
2    강북구   942.0
3    강서구  1036.0
4    관악구  1045.0
5    광진구  1424.0
6    구로구   881.0
7    금천구  1014.0
8    노원구  1116.0
9    도봉구   890.0
10  동대문구  1108.0
11   동작구  1422.0
12   마포구  1567.0
13  서대문구  1219.0
14   서초구  2328.0
15   성동구  1841.0
16   성북구  1129.0
17   송파구  1965.0
18   양천구  1310.0
19  영등포구  1220.0
20   용산구  1986.0
21   은평구  1056.0
22   종로구  1175.0
23    중구  1217.0
24   중랑구   994.0

## 버스정류장&매매가

In [10]:
from functools import reduce
import pandas as pd
dfs = [bus, buy2018, buy2019, buy2020, buy2021, buy2022]
df = reduce(lambda left, right: pd.merge(left, right, on='자치구별'), dfs)
df

    자치구별  2018  2019  2020  2021  2022  2018가격  2019가격  2020가격  2021가격  2022가격
0    강남구   534   548   545   520   823  1702.0  2051.0  2117.0  2351.0  2296.0
1    강동구   349   385   383   365   573   858.0  1007.0  1170.0  1437.0  1322.0
2    강북구   460   448   415   409   454   563.0   665.0   771.0   939.0   942.0
3    강서구   576   603   611   569   801   728.0   852.0   964.0  1175.0  1036.0
4    관악구   485   485   470   467   638   642.0   757.0   871.0  1089.0  1045.0
5    광진구   286   292   288   270   380   943.0  1105.0  1291.0  1517.0  1424.0
6    구로구   478   513   510   497   720   595.0   707.0   769.0   945.0   881.0
7    금천구   342   362   357   342   540   516.0   619.0   739.0   914.0  1014.0
8    노원구   537   544   538   527   736   601.0   703.0   844.0  1116.0  1116.0
9    도봉구   386   391   366   358   448   504.0   594.0   675.0   899.0   890.0
10  동대문구   318   319   311   303   408   693.0   840.0   995.0  1174.0  1108.0
11   동작구   460   447   440   437   545   880.0  1066.0  1230.0  1670.0  1422.0
12   마포구   569   568   570   563   764   989.0  1221.0  1344.0  1568.0  1567.0
13  서대문구   444   446   457   454   542   727.0   922.0  1038.0  1256.0  1219.0
14   서초구   648   649   638   605   962  1461.0  1755.0  1913.0  2208.0  2328.0
15   성동구   439   442   433   445   502  1048.0  1245.0  1471.0  1806.0  1841.0
16   성북구   611   604   599   601   670   629.0   771.0   914.0  1144.0  1129.0
17   송파구   413   429   440   414   716  1201.0  1440.0  1601.0  1983.0  1965.0
18   양천구   363   365   320   317   491   811.0  1038.0  1143.0  1353.0  1310.0
19  영등포구   491   504   494   466   679   845.0  1039.0  1180.0  1378.0  1220.0
20   용산구   349   344   327   328   441  1200.0  1463.0  1594.0  1903.0  1986.0
21   은평구   499   511   501   497   725   627.0   729.0   827.0  1042.0  1056.0
22   종로구   382   375   374   369   472   764.0  1015.0  1034.0  1239.0  1175.0
23    중구   207   211   241   200   309   871.0  1024.0  1138.0  1285.0  1217.0
24   중랑구   379   380   382   380   479   541.0   660.0   760.0   969.0   994.0

In [11]:
df.to_csv('bus_price_18-22.csv')

### 정규성

In [12]:
shapiro_test = stats.shapiro(df['2018'])
shapiro_test # 정규분포 맞음

ShapiroResult(statistic=0.9897786378860474, pvalue=0.994960606098175)

In [13]:
shapiro_test = stats.shapiro(df['2019'])
shapiro_test # 정규분포 맞음

ShapiroResult(statistic=0.9852784872055054, pvalue=0.9661734104156494)

In [14]:
shapiro_test = stats.shapiro(df['2020'])
shapiro_test # 정규분포 맞음

ShapiroResult(statistic=0.9804011583328247, pvalue=0.8929436206817627)

In [15]:
shapiro_test = stats.shapiro(df['2021'])
shapiro_test # 정규분포 맞음

ShapiroResult(statistic=0.9821061491966248, pvalue=0.9234092235565186)

In [16]:
shapiro_test = stats.shapiro(df['2022'])
shapiro_test # 정규분포 맞음

ShapiroResult(statistic=0.96748948097229, pvalue=0.5822901725769043)

### 상관분석

In [17]:
print(scipy.stats.pearsonr(df['2018'], df['2018가격'])) # p-value 어떻게 보는 것?
print(scipy.stats.pearsonr(df['2019'], df['2019가격']))
print(scipy.stats.pearsonr(df['2020'], df['2020가격']))
print(scipy.stats.pearsonr(df['2021'], df['2021가격']))
print(scipy.stats.pearsonr(df['2022'], df['2022가격']))

PearsonRResult(statistic=0.18889036455765798, pvalue=0.36584805762268324)
PearsonRResult(statistic=0.18107911853303518, pvalue=0.3863606980945774)
PearsonRResult(statistic=0.1891048798758413, pvalue=0.36529384569439477)
PearsonRResult(statistic=0.1745228586996271, pvalue=0.40407188649220943)
PearsonRResult(statistic=0.3594114056754537, pvalue=0.07763763310363672)

In [18]:
corr = df.corr(method='pearson')
corr

,2018,2019,2020,2021,2022,2018가격,2019가격,2020가격,2021가격,2022가격
2018,1.000000,0.992746,0.978769,0.986035,0.872916,0.188890,0.187217,0.179227,0.194935,0.207151
2019,0.992746,1.000000,0.990633,0.990596,0.908789,0.186702,0.181079,0.172516,0.185148,0.194689
2020,0.978769,0.990633,1.000000,0.991855,0.919216,0.204959,0.197382,0.189105,0.200238,0.204695
2021,0.986035,0.990596,0.991855,1.000000,0.887669,0.166736,0.162707,0.156244,0.174523,0.185325
2022,0.872916,0.908789,0.919216,0.887669,1.000000,0.373469,0.361829,0.346850,0.349240,0.359411
2018가격,0.188890,0.186702,0.204959,0.166736,0.373469,1.000000,0.996554,0.994428,0.977512,0.966177
2019가격,0.187217,0.181079,0.197382,0.162707,0.361829,0.996554,1.000000,0.993538,0.975280,0.963608
2020가격,0.179227,0.172516,0.189105,0.156244,0.346850,0.994428,0.993538,1.000000,0.989315,0.976584
2021가격,0.194935,0.185148,0.200238,0.174523,0.349240,0.977512,0.975280,0.989315,1.000000,0.981536
2022가격,0.207151,0.194689,0.204695,0.185325,0.359411,0.966177,0.963608,0.976584,0.981536,1.000000

### 회귀분석

In [19]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(df['2018'].values.reshape(-1, 1), df['2018가격'].values.reshape(-1, 1))
lr.coef_[0]

array([0.53124338])

In [20]:
import statsmodels.api as sm
results = sm.OLS(df['2018가격'], sm.add_constant(df['2018'])).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2018가격   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                 -0.006
Method:                 Least Squares   F-statistic:                    0.8510
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.366
Time:                        01:51:15   Log-Likelihood:                -177.05
No. Observations:                  25   AIC:                             358.1
Df Residuals:                      23   BIC:                             360.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        603.7067    260.520      2.317      0.030      64.780    1142.634
2018           0.5312      0.576      0.922      0.366      -0.660       1.723
==============================================================================
Omnibus:                        6.740   Durbin-Watson:                   1.624
Prob(Omnibus):                  0.034   Jarque-Bera (JB):                4.952
Skew:                           1.052   Prob(JB):                       0.0841
Kurtosis:                       3.570   Cond. No.                     1.96e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.96e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

- F-statistic의 p-value 값은 Prob(F-statistic)으로 표현되는데, 이는 0.05보다 작기에 이 회귀식은 회귀분석 모델 전체에 대해 통계적으로 의미가 있다고 볼 수 있습니다.

- 중간쯤에 보면 coef와 변수 x1의 p-value 값이 나와있습니다. 여기서 x1은 bmi이고 이 변수의 p-value가 0.000으로 표기 되어 있기에 0.05보다 작으므로 target을 설명하는데 유의하다고 판단할 수 있습니다.

In [21]:
results = sm.OLS(df['2019가격'], sm.add_constant(df['2019'])).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2019가격   R-squared:                       0.033
Model:                            OLS   Adj. R-squared:                 -0.009
Method:                 Least Squares   F-statistic:                    0.7797
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.386
Time:                        01:51:31   Log-Likelihood:                -181.89
No. Observations:                  25   AIC:                             367.8
Df Residuals:                      23   BIC:                             370.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        737.4075    318.866      2.313      0.030      77.783    1397.032
2019           0.6138      0.695      0.883      0.386      -0.824       2.052
==============================================================================
Omnibus:                        5.953   Durbin-Watson:                   1.562
Prob(Omnibus):                  0.051   Jarque-Bera (JB):                4.255
Skew:                           0.982   Prob(JB):                        0.119
Kurtosis:                       3.477   Cond. No.                     2.01e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.01e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [22]:
results = sm.OLS(df['2020가격'], sm.add_constant(df['2020'])).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2020가격   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                 -0.006
Method:                 Least Squares   F-statistic:                    0.8530
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.365
Time:                        01:51:41   Log-Likelihood:                -182.52
No. Observations:                  25   AIC:                             369.0
Df Residuals:                      23   BIC:                             371.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        845.5328    322.970      2.618      0.015     177.419    1513.646
2020           0.6589      0.713      0.924      0.365      -0.817       2.135
==============================================================================
Omnibus:                        3.402   Durbin-Watson:                   1.593
Prob(Omnibus):                  0.182   Jarque-Bera (JB):                2.657
Skew:                           0.794   Prob(JB):                        0.265
Kurtosis:                       2.829   Cond. No.                     1.96e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.96e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [23]:
results = sm.OLS(df['2021가격'], sm.add_constant(df['2021'])).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2021가격   R-squared:                       0.030
Model:                            OLS   Adj. R-squared:                 -0.012
Method:                 Least Squares   F-statistic:                    0.7225
Date:                Mon, 24 Apr 2023   Prob (F-statistic):              0.404
Time:                        01:51:46   Log-Likelihood:                -185.01
No. Observations:                  25   AIC:                             374.0
Df Residuals:                      23   BIC:                             376.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1084.5672    350.822      3.092      0.005     358.836    1810.298
2021           0.6770      0.796      0.850      0.404      -0.971       2.325
==============================================================================
Omnibus:                        2.897   Durbin-Watson:                   1.646
Prob(Omnibus):                  0.235   Jarque-Bera (JB):                2.508
Skew:                           0.724   Prob(JB):                        0.285
Kurtosis:                       2.441   Cond. No.                     1.87e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.87e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [24]:
results = sm.OLS(df['2022가격'], sm.add_constant(df['2022'])).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 2022가격   R-squared:                       0.129
Model:                            OLS   Adj. R-squared:                  0.091
Method:                 Least Squares   F-statistic:                     3.412
Date:                Mon, 24 Apr 2023   Prob (F-statistic):             0.0776
Time:                        01:52:04   Log-Likelihood:                -184.42
No. Observations:                  25   AIC:                             372.8
Df Residuals:                      23   BIC:                             375.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        781.4261    313.034      2.496      0.020     133.866    1428.986
2022           0.9426      0.510      1.847      0.078      -0.113       1.998
==============================================================================
Omnibus:                        2.512   Durbin-Watson:                   1.858
Prob(Omnibus):                  0.285   Jarque-Bera (JB):                2.169
Skew:                           0.642   Prob(JB):                        0.338
Kurtosis:                       2.343   Cond. No.                     2.38e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.38e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

---
---
---

### 4년 합친 것

In [25]:
bus_long = pd.melt(bus, id_vars=['자치구별'], var_name='year', value_name='bus_num')
bus_long

    자치구별  year  bus_num
0    강남구  2018      534
1    강동구  2018      349
2    강북구  2018      460
3    강서구  2018      576
4    관악구  2018      485
..   ...   ...      ...
120  용산구  2022      441
121  은평구  2022      725
122  종로구  2022      472
123   중구  2022      309
124  중랑구  2022      479

[125 rows x 3 columns]

In [26]:
lst1=[i for i in df['2018가격']]
lst2=[i for i in df['2019가격']]
lst3=[i for i in df['2020가격']]
lst4=[i for i in df['2021가격']]
lst5=[i for i in df['2022가격']]

In [27]:
lst= lst1 + lst2 + lst3 + lst4 + lst5

In [28]:
lst

[1702.0,
 858.0,
 563.0,
 728.0,
 642.0,
 943.0,
 595.0,
 516.0,
 601.0,
 504.0,
 693.0,
 880.0,
 989.0,
 727.0,
 1461.0,
 1048.0,
 629.0,
 1201.0,
 811.0,
 845.0,
 1200.0,
 627.0,
 764.0,
 871.0,
 541.0,
 2051.0,
 1007.0,
 665.0,
 852.0,
 757.0,
 1105.0,
 707.0,
 619.0,
 703.0,
 594.0,
 840.0,
 1066.0,
 1221.0,
 922.0,
 1755.0,
 1245.0,
 771.0,
 1440.0,
 1038.0,
 1039.0,
 1463.0,
 729.0,
 1015.0,
 1024.0,
 660.0,
 2117.0,
 1170.0,
 771.0,
 964.0,
 871.0,
 1291.0,
 769.0,
 739.0,
 844.0,
 675.0,
 995.0,
 1230.0,
 1344.0,
 1038.0,
 1913.0,
 1471.0,
 914.0,
 1601.0,
 1143.0,
 1180.0,
 1594.0,
 827.0,
 1034.0,
 1138.0,
 760.0,
 2351.0,
 1437.0,
 939.0,
 1175.0,
 1089.0,
 1517.0,
 945.0,
 914.0,
 1116.0,
 899.0,
 1174.0,
 1670.0,
 1568.0,
 1256.0,
 2208.0,
 1806.0,
 1144.0,
 1983.0,
 1353.0,
 1378.0,
 1903.0,
 1042.0,
 1239.0,
 1285.0,
 969.0,
 2296.0,
 1322.0,
 942.0,
 1036.0,
 1045.0,
 1424.0,
 881.0,
 1014.0,
 1116.0,
 890.0,
 1108.0,
 1422.0,
 1567.0,
 1219.0,
 2328.0,
 1841.0,
 1129.0,
 1965.0,
 1310.0,
 1220.0,
 1986.0,
 1056.0,
 1175.0,
 1217.0,
 994.0]

In [29]:
bus_long['price'] = lst

In [30]:
bus_long

    자치구별  year  bus_num   price
0    강남구  2018      534  1702.0
1    강동구  2018      349   858.0
2    강북구  2018      460   563.0
3    강서구  2018      576   728.0
4    관악구  2018      485   642.0
..   ...   ...      ...     ...
120  용산구  2022      441  1986.0
121  은평구  2022      725  1056.0
122  종로구  2022      472  1175.0
123   중구  2022      309  1217.0
124  중랑구  2022      479   994.0

[125 rows x 4 columns]

### 정규성

In [31]:
shapiro_test = stats.shapiro(bus_long['bus_num'])
shapiro_test # 정규분포 아님

ShapiroResult(statistic=0.9708263278007507, pvalue=0.008304862305521965)

### 상관분석

In [33]:
print(scipy.stats.spearmanr(bus_long['bus_num'], bus_long['price']))

SpearmanrResult(correlation=0.1466093168232738, pvalue=0.10278419684019524)

### 회귀분석

In [34]:
results = sm.OLS(bus_long['price'], sm.add_constant(bus_long['bus_num'])).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.078
Model:                            OLS   Adj. R-squared:                  0.070
Method:                 Least Squares   F-statistic:                     10.34
Date:                Mon, 24 Apr 2023   Prob (F-statistic):            0.00166
Time:                        01:55:41   Log-Likelihood:                -927.36
No. Observations:                 125   AIC:                             1859.
Df Residuals:                     123   BIC:                             1864.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        725.0544    134.012      5.410      0.000     459.786     990.323
bus_num        0.8833      0.275      3.216      0.002       0.340       1.427
==============================================================================
Omnibus:                       10.030   Durbin-Watson:                   1.682
Prob(Omnibus):                  0.007   Jarque-Bera (JB):               10.902
Skew:                           0.721   Prob(JB):                      0.00429
Kurtosis:                       2.884   Cond. No.                     1.80e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.8e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""