## 2020~2022년 : https://www.data.go.kr/data/15067528/fileData.do
## 2018~2019년 : https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do#

In [40]:
# pip install geopy

In [1]:
import numpy as np
import pandas as pd
import os
import time
import googlemaps
from geopy.geocoders import Nominatim
import requests, json, pprint

In [2]:
df=pd.read_excel('C:\\acorn\\midproject\\bus_stop\\raw_data\\서울시 버스정류소 위치 데이터(20180502).xls')

In [3]:
df.head()

   정류소번호         정류소명         X좌표        Y좌표
0   1001      종로2가사거리  126.987750  37.569765
1   1002  창경궁.서울대학교병원  126.996566  37.579183
2   1003    명륜3가.성대입구  126.998340  37.582671
3   1004     종로2가.삼일교  126.987613  37.568579
4   1005       혜화동로터리  127.001744  37.586243

In [4]:
len(df)

11018

In [5]:
def get_address(lat, lng):
    
    try : 
        url = "https://dapi.kakao.com/v2/local/geo/coord2address.json?x="+lng+"&y="+lat
        headers = {"Authorization": "KakaoAK 50164c6bb51aaadf098036960873feca"}
        api_json = requests.get(url, headers=headers)
        full_address = json.loads(api_json.text)

        return full_address['documents'][0]['address']['region_2depth_name']
    
    except : 
        guname = 'error'

In [ ]:
gulist=[]
for i in range(len(df)):
    guname = get_address(str(df['Y좌표'][i]), str(df['X좌표'][i]))
    gulist.append(guname)
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522

In [9]:
len(gulist)

11018

In [10]:
gulist

['종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '종로구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '성동구',
 '중구',
 '성동구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '강남구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '중구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 None,
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '용산구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 '성동구',
 ...]

In [11]:
df['gu']=gulist

In [12]:
df.head()

   정류소번호         정류소명         X좌표        Y좌표   gu
0   1001      종로2가사거리  126.987750  37.569765  종로구
1   1002  창경궁.서울대학교병원  126.996566  37.579183  종로구
2   1003    명륜3가.성대입구  126.998340  37.582671  종로구
3   1004     종로2가.삼일교  126.987613  37.568579  종로구
4   1005       혜화동로터리  127.001744  37.586243  종로구

In [13]:
len(df)

11018

In [14]:
df.isnull().sum()

정류소번호     0
정류소명      0
X좌표       0
Y좌표       0
gu       15
dtype: int64

In [15]:
indices = df.index[df['gu'].isnull()].tolist()
indices

[628,
 2537,
 2882,
 2899,
 3134,
 4362,
 4488,
 4490,
 4498,
 4499,
 4628,
 6707,
 7782,
 7821,
 7899]

In [16]:
for i in indices:
    
    lat = str(df['Y좌표'][i])
    lng = str(df['X좌표'][i])
    
    url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
    headers = {"Authorization": "KakaoAK 3f4e3aa092149cf60bd447f49294d7c2"}
    api_json = requests.get(url, headers=headers)
    full_address = json.loads(api_json.text)
    
    df['gu'][i] = full_address['documents'][0]['region_2depth_name'] 
    print(i)

C:\Users\khg08\AppData\Local\Temp\ipykernel_1524\2558097193.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gu'][i] = full_address['documents'][0]['region_2depth_name']

628
2537
2882
2899
3134
4362
4488
4490
4498
4499
4628
6707
7782
7821
7899

In [17]:
indices_after = df.index[df['gu'].isnull()].tolist()
indices_after

[]

In [18]:
df.iloc[indices]

      정류소번호                정류소명         X좌표        Y좌표    gu
628    3149  이태원동남산대림아파트.용산동아파트  126.987449  37.539725   용산구
2537   8281           국민은행장위동지점  127.048744  37.613521   성북구
2882   8910               패밀리마트  127.007407  37.609505   성북구
2899   8928               브라운스톤  127.017679  37.599298   성북구
3134   9279                창문여고  127.035864  37.612134   강북구
4362  12012              구파발역입구  126.916837  37.637116   은평구
4488  12227              진관초교입구  126.925847  37.646905   은평구
4490  12230     삼천리골입구56사단북한산부대  126.935117  37.650345   은평구
4498  12238           진관초교관음사입구  126.926869  37.647774   은평구
4499  12239     푸르지오618동앞.관음사입구  126.929320  37.649611   은평구
4628  12440               입곡삼거리  126.936408  37.649733   은평구
6707  16839       강서면허시험장메이필트호텔  126.818191  37.550248   강서구
7782  19254                 대방역  126.924222  37.513005  영등포구
7821  19295                 대방역  126.923250  37.513230  영등포구
7899  19430                 대방역  126.924117  37.513020  영등포구

In [19]:
df

       정류소번호         정류소명         X좌표        Y좌표   gu
0       1001      종로2가사거리  126.987750  37.569765  종로구
1       1002  창경궁.서울대학교병원  126.996566  37.579183  종로구
2       1003    명륜3가.성대입구  126.998340  37.582671  종로구
3       1004     종로2가.삼일교  126.987613  37.568579  종로구
4       1005       혜화동로터리  127.001744  37.586243  종로구
...      ...          ...         ...        ...  ...
11013  25783      명일동국민은행  127.144162  37.553791  강동구
11014  25784      명일동국민은행  127.144451  37.553675  강동구
11015  25988        고덕2단지  127.162899  37.560222  강동구
11016  25989       고덕초등학교  127.165433  37.560009  강동구
11017  25990   암사삼성.현대아파트  127.128549  37.553318  강동구

[11018 rows x 5 columns]

In [20]:
df.gu.unique()

array(['종로구', '중구', '성동구', '강남구', '용산구', '광진구', '동대문구', '중랑구', '성북구',
       '노원구', '강북구', '도봉구', '의정부시', '은평구', '서대문구', '마포구', '양천구', '구로구',
       '강서구', '금천구', '광명시', '안양시 만안구', '영등포구', '동작구', '서초구', '관악구', '송파구',
       '하남시', '강동구'], dtype=object)

In [21]:
df.to_csv('2018_seoulgg_gu.csv')

In [22]:
seoulgulist = [
    '강남구',
    '강동구',
    '강북구',
    '강서구',
    '관악구',
    '광진구',
    '구로구',
    '금천구',
    '노원구',
    '도봉구',
    '동대문구',
    '동작구',
    '마포구',
    '서대문구',
    '서초구',
    '성동구',
    '성북구',
    '송파구',
    '양천구',
    '영등포구',
    '용산구',
    '은평구',
    '종로구',
    '중구',
    '중랑구'
]

In [23]:
seoulgu = pd.DataFrame(seoulgulist, columns=['gu'])

In [24]:
seoulgu

      gu
0    강남구
1    강동구
2    강북구
3    강서구
4    관악구
5    광진구
6    구로구
7    금천구
8    노원구
9    도봉구
10  동대문구
11   동작구
12   마포구
13  서대문구
14   서초구
15   성동구
16   성북구
17   송파구
18   양천구
19  영등포구
20   용산구
21   은평구
22   종로구
23    중구
24   중랑구

In [25]:
result = pd.merge(df, seoulgu)
result

       정류소번호         정류소명         X좌표        Y좌표   gu
0       1001      종로2가사거리  126.987750  37.569765  종로구
1       1002  창경궁.서울대학교병원  126.996566  37.579183  종로구
2       1003    명륜3가.성대입구  126.998340  37.582671  종로구
3       1004     종로2가.삼일교  126.987613  37.568579  종로구
4       1005       혜화동로터리  127.001744  37.586243  종로구
...      ...          ...         ...        ...  ...
11000  25783      명일동국민은행  127.144162  37.553791  강동구
11001  25784      명일동국민은행  127.144451  37.553675  강동구
11002  25988        고덕2단지  127.162899  37.560222  강동구
11003  25989       고덕초등학교  127.165433  37.560009  강동구
11004  25990   암사삼성.현대아파트  127.128549  37.553318  강동구

[11005 rows x 5 columns]

In [26]:
len(df)-len(result)

13

In [27]:
result.gu.unique()

array(['종로구', '중구', '성동구', '강남구', '용산구', '광진구', '동대문구', '중랑구', '성북구',
       '노원구', '강북구', '도봉구', '은평구', '서대문구', '마포구', '양천구', '구로구', '강서구',
       '금천구', '영등포구', '동작구', '서초구', '관악구', '송파구', '강동구'], dtype=object)

In [28]:
result.to_csv('bus_2018.csv')

#### 구별 정류장개수 구하기

In [29]:
result

       정류소번호         정류소명         X좌표        Y좌표   gu
0       1001      종로2가사거리  126.987750  37.569765  종로구
1       1002  창경궁.서울대학교병원  126.996566  37.579183  종로구
2       1003    명륜3가.성대입구  126.998340  37.582671  종로구
3       1004     종로2가.삼일교  126.987613  37.568579  종로구
4       1005       혜화동로터리  127.001744  37.586243  종로구
...      ...          ...         ...        ...  ...
11000  25783      명일동국민은행  127.144162  37.553791  강동구
11001  25784      명일동국민은행  127.144451  37.553675  강동구
11002  25988        고덕2단지  127.162899  37.560222  강동구
11003  25989       고덕초등학교  127.165433  37.560009  강동구
11004  25990   암사삼성.현대아파트  127.128549  37.553318  강동구

[11005 rows x 5 columns]

In [30]:
result1=result.groupby('gu').count()

In [31]:
result1

      정류소번호  정류소명  X좌표  Y좌표
gu
강남구     534   534  534  534
강동구     349   349  349  349
강북구     460   460  460  460
강서구     576   576  576  576
관악구     485   485  485  485
광진구     286   286  286  286
구로구     478   478  478  478
금천구     342   342  342  342
노원구     537   537  537  537
도봉구     386   386  386  386
동대문구    318   318  318  318
동작구     460   460  460  460
마포구     569   569  569  569
서대문구    444   444  444  444
서초구     648   648  648  648
성동구     439   439  439  439
성북구     611   611  611  611
송파구     413   413  413  413
양천구     363   363  363  363
영등포구    491   491  491  491
용산구     349   349  349  349
은평구     499   499  499  499
종로구     382   382  382  382
중구      207   207  207  207
중랑구     379   379  379  379

In [33]:
result2 = pd.DataFrame(result1['정류소번호'], index=result1.index)
result2

      정류소번호
gu
강남구     534
강동구     349
강북구     460
강서구     576
관악구     485
광진구     286
구로구     478
금천구     342
노원구     537
도봉구     386
동대문구    318
동작구     460
마포구     569
서대문구    444
서초구     648
성동구     439
성북구     611
송파구     413
양천구     363
영등포구    491
용산구     349
은평구     499
종로구     382
중구      207
중랑구     379

In [34]:
result2.columns=["정류장수"]

In [35]:
result2

      정류장수
gu
강남구    534
강동구    349
강북구    460
강서구    576
관악구    485
광진구    286
구로구    478
금천구    342
노원구    537
도봉구    386
동대문구   318
동작구    460
마포구    569
서대문구   444
서초구    648
성동구    439
성북구    611
송파구    413
양천구    363
영등포구   491
용산구    349
은평구    499
종로구    382
중구     207
중랑구    379

In [36]:
result2['정류장수'].sum()

11005

In [37]:
result2.to_csv('2018_bus_count.csv')

In [38]:
len(result)

11005