In [1]:
import matplotlib as mlp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#matplot 한글폰트 설정
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\Windows\Fonts\GULIM.TTC").get_name()
plt.rc("font", family=font_name)

mlp.rcParams["axes.unicode_minus"] = False

### 2006-2022 분기별 아파트 평균 매매가 data.csv 파일 합치기
#### 2006-2022, 아파트 매매가 실거래 자료

In [2]:
import glob
import re

In [3]:
# 아파트 구별 연평균 실거래 매매가 2018-2022년 data merge
# 파일 경로가 저장된 폴더 경로
#apt_buyprice_path = r"C:/seokwonna/프로젝트/apt_buysell_price_2018-22"
#apt_rentprice_path = r"C:/seokwonna/프로젝트/apt_rent_price_2018-22"
apt_quarterprice_path = r"C:/seokwonna/프로젝트/apt_quarterprice_2006-2022"
# point3가 포함된 csv 파일의 정규표현식
pattern = re.compile('.*quater.*')

# 파일 이름에 pattern이 포함된 모든 CSV 파일의 경로를 검색
all_files = glob.glob(apt_quarterprice_path + "/*.csv")
all_files = [file for file in all_files if pattern.match(file)]

# 모든 CSV 파일의 데이터를 담을 빈 데이터프레임 생성
df_quarterbuyprice = pd.DataFrame()

# 모든 CSV 파일을 반복하며 데이터를 결합
for file in all_files:
    temp_df = pd.read_csv(file)  # CSV 파일 읽어오기
    df_quarterbuyprice = pd.concat([df_quarterbuyprice, temp_df])  # 데이터 결합

# 결과 출력
print(df_quarterbuyprice)

       계정항목  1m^2 전용면적당 거래금액(만원)
0   2006/Q1                497.0
1   2006/Q2                424.0
2   2006/Q3                407.0
3   2006/Q4                462.0
0   2007/Q1                393.0
..      ...                  ...
3   2021/Q4               1443.0
0   2022/Q1               1382.0
1   2022/Q2               1452.0
2   2022/Q3               1269.0
3   2022/Q4               1249.0

[68 rows x 2 columns]

In [4]:
df_quarterbuyprice.describe().round(0)

       1m^2 전용면적당 거래금액(만원)
count                 68.0
mean                 747.0
std                  290.0
min                  393.0
25%                  576.0
50%                  624.0
75%                  854.0
max                 1452.0

In [5]:
#2006-2022년 아파트 매매 실거래가 분기 평균 데이터
df_quarterbuyprice.to_csv(
    r"C:/seokwonna/프로젝트/apt_quarterprice_2006-2022/2006-2022_quarter_apt_buysell_average_price.csv", encoding='utf-8')