In [17]:
import matplotlib as mlp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#matplot 한글폰트 설정
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\Windows\Fonts\GULIM.TTC").get_name()
plt.rc("font", family=font_name)

mlp.rcParams["axes.unicode_minus"] = False

### 2018-2022 아파트 매매가 data.csv 파일 합치기 (매매가, 전세/월세)
#### 2018-2022, 아파트 매매가 실거래 자료
#### 2018-2022, 아파트 전세가 실거래 자료

In [18]:
import glob
import re

In [19]:
# 아파트 구별 연평균 실거래 매매가 2018-2022년 data merge
# 파일 경로가 저장된 폴더 경로
apt_buyprice_path = r"C:/seokwonna/프로젝트/apt_buysell_price_2018-22"
apt_rentprice_path = r"C:/seokwonna/프로젝트/apt_rent_price_2018-22"
# point3가 포함된 csv 파일의 정규표현식
pattern = re.compile('.*point3.*')

# 파일 이름에 pattern이 포함된 모든 CSV 파일의 경로를 검색
all_files = glob.glob(apt_buyprice_path + "/*.csv")
all_files = [file for file in all_files if pattern.match(file)]

# 모든 CSV 파일의 데이터를 담을 빈 데이터프레임 생성
df_buyprice = pd.DataFrame()

# 모든 CSV 파일을 반복하며 데이터를 결합
for file in all_files:
    temp_df = pd.read_csv(file)  # CSV 파일 읽어오기
    df_buyprice = pd.concat([df_buyprice, temp_df])  # 데이터 결합

# 결과 출력
print(df_buyprice)

   자치구별      본번     부번  전용면적(㎡)      계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)  \
0   강남구   479.0    5.0     94.0  201805.0  153334.0               1702.0
1   강동구   376.0    4.0     78.0  201805.0   64967.0                858.0
2   강북구   768.0    8.0     78.0  201806.0   42267.0                563.0
3   강서구   795.0    6.0     75.0  201805.0   53063.0                728.0
4   관악구  1497.0   11.0     77.0  201805.0   47147.0                642.0
..  ...     ...    ...      ...       ...       ...                  ...
21  은평구   306.0   10.0     64.0  202206.0   65036.0               1056.0
22  종로구   261.0    7.0     54.0  202205.0   68236.0               1175.0
23   중구   578.0  126.0     60.0  202206.0   74575.0               1217.0
24  중랑구   427.0   13.0     50.0  202205.0   48790.0                994.0
25   평균   554.0   14.0     67.0  202206.0   95151.0               1340.0

      계약연도  계약월
0   2018.0  5.0
1   2018.0  5.0
2   2018.0  6.0
3   2018.0  5.0
4   2018.0  5.0
..     ...  ...
21  2022.0  6.0
22  2022.0  5.0
23  2022.0  6.0
24  2022.0  5.0
25  2022.0  6.0

[130 rows x 9 columns]

In [20]:
df_buyprice.describe().round(2)

,본번,부번,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
count,130.00,130.00,130.00,130.00,130.00,130.00,130.00,130.00
mean,581.25,9.85,75.88,202006.26,87217.05,1139.87,2020.00,6.26
std,253.71,13.89,10.82,141.74,42075.41,415.35,1.42,1.18
min,200.00,1.00,48.00,201805.00,35758.00,504.00,2018.00,5.00
25%,416.25,4.00,70.00,201908.00,58490.75,846.75,2019.00,5.00
50%,530.00,7.00,75.00,202007.00,77145.00,1046.50,2020.00,6.00
75%,753.00,11.00,81.00,202106.00,98543.25,1335.50,2021.00,7.00
max,1497.00,126.00,107.00,202207.00,218757.00,2351.00,2022.00,9.00

In [21]:
#2018-2022년 아파트 매매 실거래가 전처리데이터
df_buyprice.to_csv(r"C:/seokwonna/프로젝트/apt_buysell_price_2018-22/apt_buysell_2018-2022_preprocessingdata.csv", encoding='utf-8')

In [22]:
# 아파트 구별 연평균 실거래 매매가 2018-2022년 data merge
# 파일 경로가 저장된 폴더 경로
apt_buyprice_path = r"C:/seokwonna/프로젝트/apt_buysell_price_2018-22"
apt_rentprice_path = r"C:/seokwonna/프로젝트/apt_rent_price_2018-22"

# point3가 포함된 csv 파일의 정규표현식
pattern = re.compile('.*point3.*')

# 파일 이름에 pattern이 포함된 모든 CSV 파일의 경로를 검색
all_files = glob.glob(apt_rentprice_path + "/*.csv")
all_files = [file for file in all_files if pattern.match(file)]

# 모든 CSV 파일의 데이터를 담을 빈 데이터프레임 생성
df_rentprice = pd.DataFrame()

# 모든 CSV 파일을 반복하며 데이터를 결합
for file in all_files:
    temp_df = pd.read_csv(file)  # CSV 파일 읽어오기
    df_rentprice = pd.concat([df_rentprice, temp_df])  # 데이터 결합

# 결과 출력
print(df_rentprice)

   자치구별      본번    부번  전용면적(㎡)      계약년월  보증금(만원)  월세(만원)  거래금액(만원)  \
0   강남구   505.0   3.0     84.0  201807.0  55985.0    43.0   56506.0
1   강동구   398.0   4.0     72.0  201807.0  34220.0    15.0   34398.0
2   강북구   787.0   5.0     73.0  201806.0  24758.0    16.0   24950.0
3   강서구   821.0   4.0     69.0  201807.0  28167.0     8.0   28266.0
4   관악구  1476.0   9.0     66.0  201806.0  25187.0     0.0   25187.0
..  ...     ...   ...      ...       ...      ...     ...       ...
21  은평구   336.0   4.0     62.0  202207.0  29152.0    21.0   29407.0
22  종로구   262.0   6.0     70.0  202206.0  37871.0     0.0   37871.0
23   중구   777.0  33.0     67.0  202206.0  36806.0     0.0   36806.0
24  중랑구   648.0   4.0     59.0  202206.0  23334.0     0.0   23334.0
25   평균   619.0   6.0     68.0  202206.0  37386.0    21.0   37643.0

    1m^2 전용면적당 거래금액(만원)    계약연도  계약월
0                 660.0  2018.0  7.0
1                 474.0  2018.0  7.0
2                 338.0  2018.0  6.0
3                 408.0  2018.0  7.0
4                 369.0  2018.0  6.0
..                  ...     ...  ...
21                462.0  2022.0  7.0
22                518.0  2022.0  6.0
23                545.0  2022.0  6.0
24                380.0  2022.0  6.0
25                524.0  2022.0  6.0

[130 rows x 11 columns]

In [23]:
df_rentprice.describe().round(2)

,본번,부번,전용면적(㎡),계약년월,보증금(만원),월세(만원),거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
count,130.00,130.00,130.00,130.00,130.00,130.00,130.00,130.00,130.00,130.00
mean,611.57,6.65,70.52,202006.58,36040.88,18.65,36264.59,495.78,2020.00,6.58
std,267.07,6.83,7.38,141.92,11665.05,20.20,11839.20,118.14,1.42,0.49
min,242.00,1.00,58.00,201806.00,18384.00,0.00,18384.00,276.00,2018.00,6.00
25%,438.75,3.00,65.00,201907.00,26993.25,0.00,27085.25,408.50,2019.00,6.00
50%,564.00,5.00,69.50,202006.00,33957.00,15.00,34250.00,491.50,2020.00,7.00
75%,782.25,7.00,75.00,202107.00,41936.00,30.50,42309.75,555.00,2021.00,7.00
max,1513.00,47.00,90.00,202207.00,69476.00,84.00,70444.00,833.00,2022.00,7.00

In [24]:
#2018-2022년 아파트 전세/월세 전처리 전처리데이터
df_rentprice.to_csv(
    r"C:/seokwonna/프로젝트/apt_rent_price_2018-22/apt_rent_2018-2022_preprocessingdata.csv", encoding='utf-8')