In [248]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#matplot 한글폰트 설정
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\Windows\Fonts\GULIM.TTC").get_name()
plt.rc("font", family = font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"]= False

#아파트 매매가격 대비 전세가격 비율 2018 - 2022년 까지의 % dataframe 구축
## 전세가와 월세가를 아파트 매매가로 변환하여 수치를 동일화 시키기 위함

In [249]:
#아파트 매매가격 대비 전세가격 비율 2018 - 2022
#apt_price_rent = pd.read_csv(
#    r"C:/Users/acorn/OneDrive/Desktop/중간프로젝트/부동산/유형별_매매가격_대비_전세가격_비율_2018-2022.csv", encoding='euc-kr')
#apt_price_rent.head()

In [250]:
#불필요한 columns 확인 - '주택유형별(1)', '지역별(1)', '지역별(2)', '지역별(3)'
#apt_price_rent.columns

In [251]:
#불필요한 columns 제거 - '주택유형별(1)', '지역별(1)', '지역별(2)', '지역별(3)'

#apt_price_rent.drop(columns= ['주택유형별(1)', '지역별(1)', '지역별(2)','지역별(3)'], inplace = True)
#apt_price_rent

In [252]:
#시군구 column 자치구별로 변동
#apt_price_rent.rename(columns = {'지역별(4)':'자치구별'}, inplace = True)
#apt_price_rent.head()

In [253]:
#자치구별 column에서 소계 확인
#apt_price_rent['자치구별'].unique()

In [254]:
#자치구별 column에서 소계가 포함된 행 제거
#apt_price_rent = apt_price_rent[apt_price_rent['자치구별'] != '소계']
#apt_price_rent.head()

In [255]:
#데이터프레임 인덱스 리셋
#apt_price_rent.reset_index(drop = True, inplace = True)
#apt_price_rent.head()

In [256]:
#'자치구별' column value에 '구' 추가해서 자치구 이름 변경
#addname = apt_price_rent['자치구별'].unique()

#for 구문으로 '자치구별' value에 '구'추가해주기
#addname_gu = [name + '구' for name in addname]
#apt_price_rent['자치구별'] = addname_gu

#결과확인
#apt_price_rent.head()

In [257]:
#데이터 저장하기
#apt_price_rent.to_csv(r"C:/seokwonna/프로젝트/지역구_연월별_아파트 매매_전세가_비율_2018-2022_fixed.csv.csv", encoding='utf-8')

In [258]:
#데이터 불러와서 재확인
#df = pd.read_csv(r"C:/seokwonna/프로젝트/지역구_연월별_아파트 매매_전세가_비율_2018-2022_fixed.csv.csv", encoding='utf-8',index_col=0)

In [259]:
#df.head()

# 아파트 전세, 월세 실거래가 전처리

In [260]:
#아파트 전세,월세 실거래가 가져오기 및 필요없는 행 제거
rent_df = pd.read_csv(
    r"C:/Users/acorn/OneDrive/Desktop/중간프로젝트/부동산/아파트(전월세)_실거래가_2022_국토교통부.csv", encoding='euc-kr',
    skiprows=15)
rent_df.head()

C:\Users\acorn\AppData\Local\Temp\ipykernel_13432\677641010.py:2: DtypeWarning: Columns (10,18) have mixed types. Specify dtype option on import or set low_memory=False.
  rent_df = pd.read_csv(

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
0,서울특별시 강남구 개포동,12,12.0,0.0,SH대치1단지아파트,월세,39.53,202203,16,"1,457",20,3,1991.0,개포로109길 5,-,-,-,NaN,NaN
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202201,24,"64,000",0,5,1988.0,언주로 103,202208~202408,갱신,사용,"61,500",0
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202201,24,"64,000",0,5,1988.0,언주로 103,202208~202212,갱신,-,"61,500",0
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),월세,77.75,202203,12,"70,000",70,3,1988.0,언주로 103,202207~202407,신규,-,0,0
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202205,23,"54,000",0,9,1988.0,언주로 103,202205~202305,갱신,사용,"52,000",0

In [261]:
rent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242365 entries, 0 to 242364
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   시군구            242365 non-null  object
 1   번지             242173 non-null  object
 2   본번             242337 non-null  float64
 3   부번             242337 non-null  float64
 4   단지명            242365 non-null  object
 5   전월세구분          242365 non-null  object
 6   전용면적(㎡)        242365 non-null  float64
 7   계약년월           242365 non-null  int64
 8   계약일            242365 non-null  int64
 9   보증금(만원)        242365 non-null  object
 10  월세(만원)         242365 non-null  object
 11  층              242365 non-null  int64
 12  건축년도           242204 non-null  float64
 13  도로명            242365 non-null  object
 14  계약기간           242365 non-null  object
 15  계약구분           242365 non-null  object
 16  갱신요구권 사용       242365 non-null  object
 17  종전계약 보증금 (만원)  197257 non-null  object
 18  종전계약 월세 (만원)   197257 non-null  object
dtypes: float64(4), int64(3), object(12)
memory usage: 35.1+ MB

In [262]:
#데이터 프레임 카피 만들기
df1 = rent_df.copy()
df1.head()

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
0,서울특별시 강남구 개포동,12,12.0,0.0,SH대치1단지아파트,월세,39.53,202203,16,"1,457",20,3,1991.0,개포로109길 5,-,-,-,NaN,NaN
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202201,24,"64,000",0,5,1988.0,언주로 103,202208~202408,갱신,사용,"61,500",0
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202201,24,"64,000",0,5,1988.0,언주로 103,202208~202212,갱신,-,"61,500",0
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),월세,77.75,202203,12,"70,000",70,3,1988.0,언주로 103,202207~202407,신규,-,0,0
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,202205,23,"54,000",0,9,1988.0,언주로 103,202205~202305,갱신,사용,"52,000",0

# 전세, 월세 아파트 매매가로 수치변환
### 아파트 전세 가격일 경우 그대로 전세가로 사용함
### 아파트 월세 가격일 경우
#### 월세를 전세가격으로 변환 후 전세가격
#### 보증금 + (월세 * 12개월) = 월세가격 변환

In [263]:
df1.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전월세구분', '전용면적(㎡)', '계약년월', '계약일',
       '보증금(만원)', '월세(만원)', '층', '건축년도', '도로명', '계약기간', '계약구분', '갱신요구권 사용',
       '종전계약 보증금 (만원)', '종전계약 월세 (만원)'],
      dtype='object')

In [264]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242365 entries, 0 to 242364
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   시군구            242365 non-null  object
 1   번지             242173 non-null  object
 2   본번             242337 non-null  float64
 3   부번             242337 non-null  float64
 4   단지명            242365 non-null  object
 5   전월세구분          242365 non-null  object
 6   전용면적(㎡)        242365 non-null  float64
 7   계약년월           242365 non-null  int64
 8   계약일            242365 non-null  int64
 9   보증금(만원)        242365 non-null  object
 10  월세(만원)         242365 non-null  object
 11  층              242365 non-null  int64
 12  건축년도           242204 non-null  float64
 13  도로명            242365 non-null  object
 14  계약기간           242365 non-null  object
 15  계약구분           242365 non-null  object
 16  갱신요구권 사용       242365 non-null  object
 17  종전계약 보증금 (만원)  197257 non-null  object
 18  종전계약 월세 (만원)   197257 non-null  object
dtypes: float64(4), int64(3), object(12)
memory usage: 35.1+ MB

In [265]:
a = df1['보증금(만원)'].isna().sum()
b = df1['월세(만원)'].isna().sum()
print(a, b)

0 0

In [266]:
# 컬럼의 순서(위치) 바꾸기
cols = ['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '전월세구분', '보증금(만원)', '월세(만원)']
df2 = pd.DataFrame(df1, columns = cols)
df2

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,전월세구분,보증금(만원),월세(만원)
0,서울특별시 강남구 개포동,12,12.0,0.0,SH대치1단지아파트,39.53,202203,월세,"1,457",20
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,"64,000",0
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,"64,000",0
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202203,월세,"70,000",70
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202205,전세,"54,000",0
...,...,...,...,...,...,...,...,...,...,...
242360,서울특별시 중랑구 중화동,274-75,274.0,75.0,한영(102),58.87,202203,월세,"10,000",85
242361,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),56.38,202202,전세,"23,000",0
242362,서울특별시 중랑구 중화동,274-77,274.0,77.0,한영(104),67.57,202208,전세,"32,500",0
242363,서울특별시 중랑구 중화동,274-77,274.0,77.0,한영(104),67.57,202208,전세,"32,500",0
242364,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,100.17,202207,전세,"47,500",0

In [267]:
#보증금(만원), 월세(만원) column str을 숫자로 수정
df2['보증금(만원)'] = df2['보증금(만원)'].str.replace(',', '').fillna(0).astype(int)

In [268]:
df2['월세(만원)'] = df2['월세(만원)'].str.replace(',', '').fillna(0).astype(int)

In [269]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242365 entries, 0 to 242364
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   시군구      242365 non-null  object
 1   번지       242173 non-null  object
 2   본번       242337 non-null  float64
 3   부번       242337 non-null  float64
 4   단지명      242365 non-null  object
 5   전용면적(㎡)  242365 non-null  float64
 6   계약년월     242365 non-null  int64
 7   전월세구분    242365 non-null  object
 8   보증금(만원)  242365 non-null  int32
 9   월세(만원)   242365 non-null  int32
dtypes: float64(3), int32(2), int64(1), object(4)
memory usage: 16.6+ MB

In [270]:
df2.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,전월세구분,보증금(만원),월세(만원)
0,서울특별시 강남구 개포동,12,12.0,0.0,SH대치1단지아파트,39.53,202203,월세,1457,20
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,64000,0
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,64000,0
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202203,월세,70000,70
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202205,전세,54000,0

In [271]:
#거래금액(만원), 전세가,월세가격 = 변환 보증금 + (월세 * 12개월)

df2['거래금액(만원)'] = np.where(df2['전월세구분'] == '월세',
                           df2['보증금(만원)'] + df2['월세(만원)']*12, df2['보증금(만원)'])

df2.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,전월세구분,보증금(만원),월세(만원),거래금액(만원)
0,서울특별시 강남구 개포동,12,12.0,0.0,SH대치1단지아파트,39.53,202203,월세,1457,20,1697
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,64000,0,64000
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,64000,0,64000
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202203,월세,70000,70,70840
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202205,전세,54000,0,54000

In [272]:
# 전용면적당 거래금액(만원)
df2['1m^2 전용면적당 거래금액(만원)'] = (df2['거래금액(만원)'] / df2['전용면적(㎡)']).astype(int)
df2.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,전월세구분,보증금(만원),월세(만원),거래금액(만원),1m^2 전용면적당 거래금액(만원)
0,서울특별시 강남구 개포동,12,12.0,0.0,SH대치1단지아파트,39.53,202203,월세,1457,20,1697,42
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,64000,0,64000,823
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,64000,0,64000,823
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202203,월세,70000,70,70840,911
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202205,전세,54000,0,54000,694

In [273]:
#시군구 column 자치구별로 변동
df2.rename(columns = {'시군구':'자치구별'}, inplace = True)

In [274]:
#자치구별 주소 구로만 가져오기
df2['자치구별'] = df2['자치구별'].str.split().str[1]
df2.head()

,자치구별,번지,본번,부번,단지명,전용면적(㎡),계약년월,전월세구분,보증금(만원),월세(만원),거래금액(만원),1m^2 전용면적당 거래금액(만원)
0,강남구,12,12.0,0.0,SH대치1단지아파트,39.53,202203,월세,1457,20,1697,42
1,강남구,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,64000,0,64000,823
2,강남구,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,64000,0,64000,823
3,강남구,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202203,월세,70000,70,70840,911
4,강남구,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202205,전세,54000,0,54000,694

In [275]:
#계약년월 -> 계약연도, 계약월로 나누기
df2['계약연도'] = df2['계약년월'] // 100
df2['계약월'] = df2['계약년월'] % 100

In [276]:
df2.head()

,자치구별,번지,본번,부번,단지명,전용면적(㎡),계약년월,전월세구분,보증금(만원),월세(만원),거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
0,강남구,12,12.0,0.0,SH대치1단지아파트,39.53,202203,월세,1457,20,1697,42,2022,3
1,강남구,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,64000,0,64000,823,2022,1
2,강남구,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202201,전세,64000,0,64000,823,2022,1
3,강남구,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202203,월세,70000,70,70840,911,2022,3
4,강남구,655-2,655.0,2.0,개포2차현대아파트(220),77.75,202205,전세,54000,0,54000,694,2022,5

In [277]:
#중간포인트 저장
df2.to_csv(
    r"C:/seokwonna/프로젝트/save_point1_apt_rent_2022_data.csv", encoding='utf-8')

In [278]:
#group_by 사용해서 자치구별 + 계약년월 대비 전용면적당 거래금액(만원) 평균 df으로 구성
df3 = df2.groupby([df2.자치구별, df2.계약월]).mean().round(0)
df3

             본번   부번  전용면적(㎡)      계약년월  보증금(만원)  월세(만원)  거래금액(만원)  \
자치구별 계약월
강남구  1    515.0  3.0     83.0  202201.0  67268.0    82.0   68251.0
     2    507.0  4.0     80.0  202202.0  65145.0    81.0   66119.0
     3    461.0  3.0     77.0  202203.0  62715.0    80.0   63674.0
     4    485.0  4.0     78.0  202204.0  64707.0    87.0   65747.0
     5    551.0  2.0     77.0  202205.0  55848.0    67.0   56651.0
...         ...  ...      ...       ...      ...     ...       ...
중랑구  8    725.0  3.0     61.0  202208.0  23066.0     0.0   23066.0
     9    868.0  2.0     60.0  202209.0  23626.0     0.0   23626.0
     10   625.0  4.0     62.0  202210.0  26389.0     0.0   26389.0
     11   661.0  3.0     53.0  202211.0  17818.0     0.0   17818.0
     12   636.0  5.0     57.0  202212.0  18263.0     0.0   18263.0

          1m^2 전용면적당 거래금액(만원)    계약연도
자치구별 계약월
강남구  1                  808.0  2022.0
     2                  793.0  2022.0
     3                  759.0  2022.0
     4                  803.0  2022.0
     5                  685.0  2022.0
...                       ...     ...
중랑구  8                  359.0  2022.0
     9                  405.0  2022.0
     10                 428.0  2022.0
     11                 311.0  2022.0
     12                 294.0  2022.0

[300 rows x 9 columns]

In [279]:
unique_values = df2['자치구별'].unique()
print(unique_values)
print(unique_values.size)

['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구']
25

In [280]:
#자치구 월별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df3.to_csv(
    r"C:/seokwonna/프로젝트/apt_rent_price_2018-22/save_point2_apt_rent_2022_data.csv", encoding='utf-8')

In [281]:
df4 = df2.groupby([df2.자치구별]).mean().round(0)
df4.head()

,본번,부번,전용면적(㎡),계약년월,보증금(만원),월세(만원),거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
자치구별,,,,,,,,,,
강남구,532.0,3.0,80.0,202206.0,65793.0,83.0,66791.0,795.0,2022.0,6.0
강동구,436.0,2.0,66.0,202206.0,36132.0,31.0,36500.0,545.0,2022.0,6.0
강북구,802.0,6.0,60.0,202206.0,23615.0,2.0,23636.0,376.0,2022.0,6.0
강서구,808.0,4.0,62.0,202207.0,29461.0,0.0,29461.0,464.0,2022.0,7.0
관악구,1513.0,7.0,61.0,202207.0,28381.0,0.0,28381.0,441.0,2022.0,7.0

In [282]:
#서울시 수치화된 데이터 평균가 추가
df4.loc['평균'] = df4.mean().round(0)
df4

,본번,부번,전용면적(㎡),계약년월,보증금(만원),월세(만원),거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
자치구별,,,,,,,,,,
강남구,532.0,3.0,80.0,202206.0,65793.0,83.0,66791.0,795.0,2022.0,6.0
강동구,436.0,2.0,66.0,202206.0,36132.0,31.0,36500.0,545.0,2022.0,6.0
강북구,802.0,6.0,60.0,202206.0,23615.0,2.0,23636.0,376.0,2022.0,6.0
강서구,808.0,4.0,62.0,202207.0,29461.0,0.0,29461.0,464.0,2022.0,7.0
관악구,1513.0,7.0,61.0,202207.0,28381.0,0.0,28381.0,441.0,2022.0,7.0
광진구,536.0,5.0,75.0,202206.0,49636.0,0.0,49636.0,641.0,2022.0,6.0
구로구,487.0,14.0,65.0,202206.0,25129.0,0.0,25129.0,370.0,2022.0,6.0
금천구,818.0,5.0,60.0,202206.0,25982.0,0.0,25982.0,438.0,2022.0,6.0
노원구,577.0,1.0,58.0,202206.0,21829.0,0.0,21829.0,347.0,2022.0,6.0
도봉구,378.0,3.0,61.0,202206.0,20989.0,0.0,20989.0,323.0,2022.0,6.0
동대문구,488.0,4.0,63.0,202207.0,31862.0,0.0,31862.0,503.0,2022.0,7.0
동작구,518.0,4.0,73.0,202206.0,44899.0,0.0,44899.0,586.0,2022.0,6.0
마포구,654.0,2.0,68.0,202206.0,40110.0,0.0,40110.0,554.0,2022.0,6.0
서대문구,429.0,5.0,67.0,202206.0,35278.0,25.0,35583.0,512.0,2022.0,6.0
서초구,784.0,6.0,84.0,202207.0,69476.0,81.0,70444.0,822.0,2022.0,7.0
성동구,605.0,8.0,74.0,202206.0,48212.0,64.0,48979.0,658.0,2022.0,6.0
성북구,588.0,9.0,69.0,202206.0,33156.0,33.0,33547.0,475.0,2022.0,6.0
송파구,322.0,1.0,76.0,202206.0,50627.0,51.0,51240.0,662.0,2022.0,6.0
양천구,827.0,2.0,72.0,202207.0,41846.0,28.0,42180.0,544.0,2022.0,7.0
영등포구,1100.0,3.0,69.0,202206.0,38337.0,34.0,38742.0,556.0,2022.0,6.0
용산구,252.0,20.0,78.0,202207.0,46725.0,84.0,47733.0,573.0,2022.0,7.0
은평구,336.0,4.0,62.0,202207.0,29152.0,21.0,29407.0,462.0,2022.0,7.0
종로구,262.0,6.0,70.0,202206.0,37871.0,0.0,37871.0,518.0,2022.0,6.0
중구,777.0,33.0,67.0,202206.0,36806.0,0.0,36806.0,545.0,2022.0,6.0
중랑구,648.0,4.0,59.0,202206.0,23334.0,0.0,23334.0,380.0,2022.0,6.0
평균,619.0,6.0,68.0,202206.0,37386.0,21.0,37643.0,524.0,2022.0,6.0

In [283]:
#2018년 자치구별 매매된 평균 아파트 전세 및 월세가, 1m^2 전용면적당 평균가
df4.to_csv(
    r"C:/seokwonna/프로젝트/apt_rent_price_2018-22/save_point3_apt_rent_2022_data.csv", encoding='utf-8')