In [117]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#matplot 한글폰트 설정
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\Windows\Fonts\GULIM.TTC").get_name()
plt.rc("font", family = font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"]= False

In [118]:
#아파트 매매 실거래가 가져오기 및 필요없는 행 제거

df = pd.read_csv(
    r"C:/Users/acorn/OneDrive/Desktop/중간프로젝트/부동산/아파트(매매)__실거래가_2022_국토교통부.csv", encoding='euc-kr',
        skiprows= 15)
df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987.0,언주로 3,NaN,중개거래,서울 강남구
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987.0,언주로 3,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987.0,언주로 3,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,1,"369,000",13,2020.0,개포로 264,NaN,중개거래,"서울 강남구, 서울 양천구"
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,2,"420,000",17,2020.0,개포로 264,NaN,중개거래,서울 강남구

In [119]:
#데이터 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12675 entries, 0 to 12674
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12675 non-null  object
 1   번지        12672 non-null  object
 2   본번        12673 non-null  float64
 3   부번        12673 non-null  float64
 4   단지명       12675 non-null  object
 5   전용면적(㎡)   12675 non-null  float64
 6   계약년월      12675 non-null  int64
 7   계약일       12675 non-null  int64
 8   거래금액(만원)  12675 non-null  object
 9   층         12675 non-null  int64
 10  건축년도      12673 non-null  float64
 11  도로명       12675 non-null  object
 12  해제사유발생일   694 non-null    float64
 13  거래유형      12675 non-null  object
 14  중개사소재지    12675 non-null  object
dtypes: float64(5), int64(3), object(7)
memory usage: 1.5+ MB

In [120]:
df1 = df.copy()

In [121]:
df1.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987.0,언주로 3,NaN,중개거래,서울 강남구
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987.0,언주로 3,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,27,"216,000",2,1987.0,언주로 3,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,1,"369,000",13,2020.0,개포로 264,NaN,중개거래,"서울 강남구, 서울 양천구"
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,2,"420,000",17,2020.0,개포로 264,NaN,중개거래,서울 강남구

In [122]:
df1.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '거래유형', '중개사소재지'],
      dtype='object')

In [123]:
# 컬럼의 순서(위치) 바꾸기
cols = ['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월','거래금액(만원)']
df2 = pd.DataFrame(df1, columns = cols)
df2

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원)
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,"220,000"
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,"220,000"
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,"216,000"
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,"369,000"
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,"420,000"
...,...,...,...,...,...,...,...,...
12670,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202203,"73,000"
12671,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202207,"74,000"
12672,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),84.03,202207,"91,500"
12673,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202204,"49,900"
12674,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),76.43,202204,"53,000"

In [124]:
#거래금액(만원) column str을 float으로 수정
df2['거래금액(만원)'] = df2['거래금액(만원)'].str.replace(',', '').astype(int)
df2['계약년월'] = df2['계약년월'].astype(int)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12675 entries, 0 to 12674
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       12675 non-null  object
 1   번지        12672 non-null  object
 2   본번        12673 non-null  float64
 3   부번        12673 non-null  float64
 4   단지명       12675 non-null  object
 5   전용면적(㎡)   12675 non-null  float64
 6   계약년월      12675 non-null  int32
 7   거래금액(만원)  12675 non-null  int32
dtypes: float64(3), int32(2), object(3)
memory usage: 693.3+ KB

In [125]:
df2.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원)
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,216000
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,369000
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,420000

In [126]:
# 전용면적당 거래금액(만원)
df2['1m^2 전용면적당 거래금액(만원)'] = (df2['거래금액(만원)'] / df2['전용면적(㎡)']).astype(int)
df2.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원)
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000,2751
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000,2751
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,216000,2701
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,369000,3606
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,420000,3086

In [127]:
#시군구 column 자치구별로 변동
df2.rename(columns = {'시군구':'자치구별'}, inplace = True)

In [128]:
df2.head()

,자치구별,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원)
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000,2751
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000,2751
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,216000,2701
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,369000,3606
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,420000,3086

In [129]:
#자치구별 주소 구로만 가져오기
df2['자치구별'] = df2['자치구별'].str.split().str[1]
df2.head()

,자치구별,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원)
0,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000,2751
1,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000,2751
2,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,216000,2701
3,강남구,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,369000,3606
4,강남구,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,420000,3086

In [130]:
#계약년월 -> 계약연도, 계약월로 나누기
df2['계약연도'] = df2['계약년월'] // 100
df2['계약월'] = df2['계약년월'] % 100

In [131]:
df2

,자치구별,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
0,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000,2751,2022,4
1,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000,2751,2022,4
2,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,216000,2701,2022,5
3,강남구,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,369000,3606,2022,4
4,강남구,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,420000,3086,2022,5
...,...,...,...,...,...,...,...,...,...,...,...
12670,중랑구,450,450.0,0.0,한신아파트(103~109),59.76,202203,73000,1221,2022,3
12671,중랑구,450,450.0,0.0,한신아파트(103~109),59.76,202207,74000,1238,2022,7
12672,중랑구,450,450.0,0.0,한신아파트(103~109),84.03,202207,91500,1088,2022,7
12673,중랑구,274-51,274.0,51.0,한영(101),84.69,202204,49900,589,2022,4
12674,중랑구,11-7,11.0,7.0,현대휴앤미(102동),76.43,202204,53000,693,2022,4

In [132]:
#중간포인트 저장
df2.to_csv(r"C:/seokwonna/프로젝트/save_point1_apt_buysell_2022_data.csv", encoding='utf-8')

In [133]:
df2

,자치구별,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
0,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000,2751,2022,4
1,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202204,220000,2751,2022,4
2,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,202205,216000,2701,2022,5
3,강남구,1282,1282.0,0.0,개포래미안포레스트,102.32,202204,369000,3606,2022,4
4,강남구,1282,1282.0,0.0,개포래미안포레스트,136.06,202205,420000,3086,2022,5
...,...,...,...,...,...,...,...,...,...,...,...
12670,중랑구,450,450.0,0.0,한신아파트(103~109),59.76,202203,73000,1221,2022,3
12671,중랑구,450,450.0,0.0,한신아파트(103~109),59.76,202207,74000,1238,2022,7
12672,중랑구,450,450.0,0.0,한신아파트(103~109),84.03,202207,91500,1088,2022,7
12673,중랑구,274-51,274.0,51.0,한영(101),84.69,202204,49900,589,2022,4
12674,중랑구,11-7,11.0,7.0,현대휴앤미(102동),76.43,202204,53000,693,2022,4

In [134]:
#group_by 사용해서 자치구별 + 계약년월 대비 전용면적당 거래금액(만원) 평균 df으로 구성
df3 = df2.groupby([df2.자치구별, df2.계약월]).mean().round(0)
df3

             본번    부번  전용면적(㎡)      계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)  \
자치구별 계약월
강남구  1    478.0   6.0     88.0  202201.0  212477.0               2359.0
     2    445.0   9.0     84.0  202202.0  201653.0               2222.0
     3    470.0   5.0     91.0  202203.0  221294.0               2381.0
     4    476.0   3.0     97.0  202204.0  261580.0               2564.0
     5    510.0   8.0     94.0  202205.0  230263.0               2387.0
...         ...   ...      ...       ...       ...                  ...
중랑구  8    520.0  22.0     57.0  202208.0   53124.0                981.0
     9    561.0   2.0     49.0  202209.0   44870.0                885.0
     10   571.0   6.0     49.0  202210.0   43820.0                868.0
     11   476.0  11.0     57.0  202211.0   48171.0                887.0
     12   479.0   4.0     51.0  202212.0   41953.0                831.0

            계약연도
자치구별 계약월
강남구  1    2022.0
     2    2022.0
     3    2022.0
     4    2022.0
     5    2022.0
...          ...
중랑구  8    2022.0
     9    2022.0
     10   2022.0
     11   2022.0
     12   2022.0

[300 rows x 7 columns]

In [135]:
unique_values = df2['자치구별'].unique()
print(unique_values)
print(unique_values.size)

['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구']
25

In [136]:
#자치구 월별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df3.to_csv(
    r"C:/seokwonna/프로젝트/apt_buysell_price_2018-22/save_point2_apt_buysell_2022_data.csv", encoding='utf-8')

In [137]:
df4 = df2.groupby([df2.자치구별]).mean().round(0)
df4.head()

,본번,부번,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
자치구별,,,,,,,,
강남구,480.0,6.0,85.0,202206.0,207409.0,2296.0,2022.0,6.0
강동구,438.0,4.0,62.0,202206.0,85089.0,1322.0,2022.0,6.0
강북구,689.0,8.0,55.0,202207.0,50245.0,942.0,2022.0,7.0
강서구,792.0,9.0,63.0,202206.0,65716.0,1036.0,2022.0,6.0
관악구,1365.0,18.0,61.0,202205.0,63250.0,1045.0,2022.0,5.0

In [138]:
#서울시 수치화된 데이터 평균가 추가
df4.loc['평균'] = df4.mean().round(0)
df4

,본번,부번,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
자치구별,,,,,,,,
강남구,480.0,6.0,85.0,202206.0,207409.0,2296.0,2022.0,6.0
강동구,438.0,4.0,62.0,202206.0,85089.0,1322.0,2022.0,6.0
강북구,689.0,8.0,55.0,202207.0,50245.0,942.0,2022.0,7.0
강서구,792.0,9.0,63.0,202206.0,65716.0,1036.0,2022.0,6.0
관악구,1365.0,18.0,61.0,202205.0,63250.0,1045.0,2022.0,5.0
광진구,384.0,6.0,72.0,202206.0,104770.0,1424.0,2022.0,6.0
구로구,409.0,13.0,55.0,202205.0,50468.0,881.0,2022.0,5.0
금천구,827.0,8.0,48.0,202207.0,45721.0,1014.0,2022.0,7.0
노원구,598.0,1.0,60.0,202206.0,65202.0,1116.0,2022.0,6.0
도봉구,420.0,4.0,66.0,202206.0,56234.0,890.0,2022.0,6.0
동대문구,451.0,7.0,60.0,202206.0,68746.0,1108.0,2022.0,6.0
동작구,473.0,10.0,59.0,202206.0,82560.0,1422.0,2022.0,6.0
마포구,462.0,6.0,69.0,202205.0,106388.0,1567.0,2022.0,5.0
서대문구,414.0,16.0,70.0,202206.0,83188.0,1219.0,2022.0,6.0
서초구,944.0,8.0,88.0,202205.0,213088.0,2328.0,2022.0,5.0
성동구,564.0,13.0,79.0,202206.0,147679.0,1841.0,2022.0,6.0
성북구,511.0,23.0,71.0,202206.0,76513.0,1129.0,2022.0,6.0
송파구,259.0,2.0,79.0,202206.0,151491.0,1965.0,2022.0,6.0
양천구,755.0,3.0,75.0,202206.0,97136.0,1310.0,2022.0,6.0
영등포구,780.0,12.0,58.0,202206.0,82478.0,1220.0,2022.0,6.0
용산구,253.0,29.0,104.0,202206.0,218757.0,1986.0,2022.0,6.0
은평구,306.0,10.0,64.0,202206.0,65036.0,1056.0,2022.0,6.0
종로구,261.0,7.0,54.0,202205.0,68236.0,1175.0,2022.0,5.0
중구,578.0,126.0,60.0,202206.0,74575.0,1217.0,2022.0,6.0
중랑구,427.0,13.0,50.0,202205.0,48790.0,994.0,2022.0,5.0
평균,554.0,14.0,67.0,202206.0,95151.0,1340.0,2022.0,6.0

In [139]:
#2018년 자치구별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df4.to_csv(
    r"C:/seokwonna/프로젝트/apt_buysell_price_2018-22/save_point3_apt_buysell_2022_data.csv", encoding='utf-8')