In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#matplot 한글폰트 설정
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\Windows\Fonts\GULIM.TTC").get_name()
plt.rc("font", family = font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"]= False

In [2]:
#아파트 매매 실거래가 가져오기 및 필요없는 행 제거

df = pd.read_csv(
    r"C:/Users/acorn/OneDrive/Desktop/중간프로젝트/부동산/아파트(매매)__실거래가_2018_국토교통부.csv", encoding='euc-kr',
        skiprows= 15)
df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",2,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",1,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",2,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,201804,5,"107,500",5,1987,언주로 3,NaN,-,-

In [3]:
#데이터 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81658 entries, 0 to 81657
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       81658 non-null  object
 1   번지        81613 non-null  object
 2   본번        81641 non-null  float64
 3   부번        81641 non-null  float64
 4   단지명       81658 non-null  object
 5   전용면적(㎡)   81658 non-null  float64
 6   계약년월      81658 non-null  int64
 7   계약일       81658 non-null  int64
 8   거래금액(만원)  81658 non-null  object
 9   층         81658 non-null  int64
 10  건축년도      81658 non-null  int64
 11  도로명       81658 non-null  object
 12  해제사유발생일   0 non-null      float64
 13  거래유형      81658 non-null  object
 14  중개사소재지    81658 non-null  object
dtypes: float64(4), int64(4), object(7)
memory usage: 9.3+ MB

In [4]:
df1 = df.copy()

In [5]:
df1.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",2,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",1,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",2,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,201804,5,"107,500",5,1987,언주로 3,NaN,-,-

In [6]:
df1.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '거래유형', '중개사소재지'],
      dtype='object')

In [7]:
# 컬럼의 순서(위치) 바꾸기
cols = ['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월','거래금액(만원)']
df2 = pd.DataFrame(df1, columns = cols)
df2

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원)
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,"130,000"
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,"117,000"
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,"130,000"
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201803,"139,500"
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,201804,"107,500"
...,...,...,...,...,...,...,...,...
81653,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),56.52,201809,"21,000"
81654,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),69.52,201811,"29,500"
81655,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),69.09,201811,"30,000"
81656,서울특별시 중랑구 중화동,274-77,274.0,77.0,한영(104),75.88,201808,"24,500"
81657,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,100.17,201807,"37,000"

In [8]:
#거래금액(만원) column str을 float으로 수정
df2['거래금액(만원)'] = df2['거래금액(만원)'].str.replace(',', '').astype(int)
df2['계약년월'] = df2['계약년월'].astype(int)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81658 entries, 0 to 81657
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       81658 non-null  object
 1   번지        81613 non-null  object
 2   본번        81641 non-null  float64
 3   부번        81641 non-null  float64
 4   단지명       81658 non-null  object
 5   전용면적(㎡)   81658 non-null  float64
 6   계약년월      81658 non-null  int32
 7   거래금액(만원)  81658 non-null  int32
dtypes: float64(3), int32(2), object(3)
memory usage: 4.4+ MB

In [9]:
df2.head()

             시군구     번지     본번   부번             단지명  전용면적(㎡)    계약년월  거래금액(만원)
0  서울특별시 강남구 개포동  658-1  658.0  1.0  개포6차우성아파트1동~8동    79.97  201801    130000
1  서울특별시 강남구 개포동  658-1  658.0  1.0  개포6차우성아파트1동~8동    79.97  201801    117000
2  서울특별시 강남구 개포동  658-1  658.0  1.0  개포6차우성아파트1동~8동    79.97  201801    130000
3  서울특별시 강남구 개포동  658-1  658.0  1.0  개포6차우성아파트1동~8동    79.97  201803    139500
4  서울특별시 강남구 개포동  658-1  658.0  1.0  개포6차우성아파트1동~8동    54.98  201804    107500

In [10]:
# 전용면적당 거래금액(만원)
df2['1m^2 전용면적당 거래금액(만원)'] = (df2['거래금액(만원)'] / df2['전용면적(㎡)']).astype(int)
df2.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원)
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,130000,1625
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,117000,1463
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,130000,1625
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201803,139500,1744
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,201804,107500,1955

In [11]:
#시군구 column 자치구별로 변동
df2.rename(columns = {'시군구':'자치구별'}, inplace = True)

In [12]:
df2.head()

,자치구별,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원)
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,130000,1625
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,117000,1463
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,130000,1625
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201803,139500,1744
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,201804,107500,1955

In [13]:
#자치구별 주소 구로만 가져오기
df2['자치구별'] = df2['자치구별'].str.split().str[1]
df2.head()

,자치구별,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원)
0,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,130000,1625
1,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,117000,1463
2,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,130000,1625
3,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201803,139500,1744
4,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,201804,107500,1955

In [14]:
#계약년월 -> 계약연도, 계약월로 나누기
df2['계약연도'] = df2['계약년월'] // 100
df2['계약월'] = df2['계약년월'] % 100

In [15]:
df2

,자치구별,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
0,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,130000,1625,2018,1
1,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,117000,1463,2018,1
2,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,130000,1625,2018,1
3,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201803,139500,1744,2018,3
4,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,201804,107500,1955,2018,4
...,...,...,...,...,...,...,...,...,...,...,...
81653,중랑구,274-76,274.0,76.0,한영(103),56.52,201809,21000,371,2018,9
81654,중랑구,274-76,274.0,76.0,한영(103),69.52,201811,29500,424,2018,11
81655,중랑구,274-76,274.0,76.0,한영(103),69.09,201811,30000,434,2018,11
81656,중랑구,274-77,274.0,77.0,한영(104),75.88,201808,24500,322,2018,8
81657,중랑구,11,11.0,0.0,현대휴앤미,100.17,201807,37000,369,2018,7

In [16]:
#중간포인트 저장
df2.to_csv(r"C:/seokwonna/프로젝트/save_point1_apt_buysell_2018_data.csv", encoding='utf-8')

In [17]:
df2

,자치구별,번지,본번,부번,단지명,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
0,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,130000,1625,2018,1
1,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,117000,1463,2018,1
2,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,130000,1625,2018,1
3,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201803,139500,1744,2018,3
4,강남구,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,201804,107500,1955,2018,4
...,...,...,...,...,...,...,...,...,...,...,...
81653,중랑구,274-76,274.0,76.0,한영(103),56.52,201809,21000,371,2018,9
81654,중랑구,274-76,274.0,76.0,한영(103),69.52,201811,29500,424,2018,11
81655,중랑구,274-76,274.0,76.0,한영(103),69.09,201811,30000,434,2018,11
81656,중랑구,274-77,274.0,77.0,한영(104),75.88,201808,24500,322,2018,8
81657,중랑구,11,11.0,0.0,현대휴앤미,100.17,201807,37000,369,2018,7

In [18]:
#group_by 사용해서 자치구별 + 계약년월 대비 전용면적당 거래금액(만원) 평균 df으로 구성
df3 = df2.groupby([df2.자치구별, df2.계약월]).mean().round(0)
df3

             본번   부번  전용면적(㎡)      계약년월  거래금액(만원)  1m^2 전용면적당 거래금액(만원)    계약연도
자치구별 계약월
강남구  1    496.0  5.0     97.0  201801.0  147160.0               1601.0  2018.0
     2    475.0  5.0     97.0  201802.0  144676.0               1564.0  2018.0
     3    444.0  6.0     92.0  201803.0  142638.0               1684.0  2018.0
     4    438.0  5.0     90.0  201804.0  143065.0               1638.0  2018.0
     5    459.0  5.0     92.0  201805.0  142249.0               1631.0  2018.0
...         ...  ...      ...       ...       ...                  ...     ...
중랑구  8    603.0  2.0     75.0  201808.0   40736.0                552.0  2018.0
     9    577.0  5.0     74.0  201809.0   42509.0                587.0  2018.0
     10   600.0  7.0     74.0  201810.0   42850.0                599.0  2018.0
     11   605.0  5.0     72.0  201811.0   40488.0                576.0  2018.0
     12   607.0  4.0     66.0  201812.0   38487.0                605.0  2018.0

[300 rows x 7 columns]

In [19]:
unique_values = df2['자치구별'].unique()
print(unique_values)
print(unique_values.size)

['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구']
25

In [21]:
#자치구 월별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df3.to_csv(
    r"C:/seokwonna/프로젝트/save_point2_apt_buysell_2018_data.csv", encoding='utf-8')

In [22]:
df4 = df2.groupby([df2.자치구별]).mean().round(0)
df4.head()

,본번,부번,전용면적(㎡),계약년월,거래금액(만원),1m^2 전용면적당 거래금액(만원),계약연도,계약월
자치구별,,,,,,,,
강남구,479.0,5.0,94.0,201805.0,153334.0,1702.0,2018.0,5.0
강동구,376.0,4.0,78.0,201805.0,64967.0,858.0,2018.0,5.0
강북구,768.0,8.0,78.0,201806.0,42267.0,563.0,2018.0,6.0
강서구,795.0,6.0,75.0,201805.0,53063.0,728.0,2018.0,5.0
관악구,1497.0,11.0,77.0,201805.0,47147.0,642.0,2018.0,5.0

In [23]:
#2018년 자치구별 매매된 평균 아파트 매매가, 1m^2 전용면적당 평균가
df4.to_csv(
    r"C:/seokwonna/프로젝트/save_point3_apt_buysell_2018_data.csv", encoding='utf-8')